<h1>Insurance Beneficiaries</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :nombre, "Nombre" %></td>
		<th><%= sort_link @search, :apellido, "Apellido" %></td>
		<th><%= sort_link @search, :document_type_id, "Document Type" %></td>
		<th><%= sort_link @search, :numero_documento, "Numero Documento" %></td>
		<th><%= sort_link @search, :employee_id, "Employee" %></td>
		<th><%= sort_link @search, :fecha_nacimiento, "Fecha Nacimiento" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for insurance_beneficiary in @insurance_beneficiaries %>
		<tr>
			<td><%= insurance_beneficiary.nombre %></td>
			<td><%= insurance_beneficiary.apellido %></td>
			<td><%= insurance_beneficiary.document_type_id %></td>
			<td><%= insurance_beneficiary.numero_documento %></td>
			<td><%= insurance_beneficiary.employee_id %></td>
			<td><%= insurance_beneficiary.fecha_nacimiento %></td>
            <td><a href="/insurance_beneficiaries/<%= insurance_beneficiary.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/insurance_beneficiaries/<%= insurance_beneficiary.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/insurance_beneficiaries/<%= insurance_beneficiary.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Insurance Beneficiary", new_insurance_beneficiary_path %></p>

<%= paginate @insurance_beneficiaries %>
