<h1>Listado de Beneficiarios seguro</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo de Documento</th>
    <th>Numero documento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insurance_beneficiaries.each do |insurance_beneficiary| %>
  <tr>
    <td><%= insurance_beneficiary.nombre %></td>
    <td><%= insurance_beneficiary.apellido %></td>
    <td><%= insurance_beneficiary.document_type.try(:detalle) %></td>
    <td><%= insurance_beneficiary.numero_documento %></td>
    <td><%= link_to 'Visualizar', insurance_beneficiary %></td>
    <td><%= link_to 'Editar', edit_insurance_beneficiary_path(insurance_beneficiary) %></td>
    <td><%= link_to 'Borrar', insurance_beneficiary, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo beneficiario de seguro', new_insurance_beneficiary_path %>
