<h1>Visualizacion de beneficiarios seguro</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @insurance_beneficiary.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @insurance_beneficiary.apellido %>
</p>

<p>
  <b>Tipo de Documento:</b>
  <%= @insurance_beneficiary.document_type.try(:detalle) %>
</p>

<p>
  <b>Numero documento:</b>
  <%= @insurance_beneficiary.numero_documento %>
</p>


<%= link_to 'Editar', edit_insurance_beneficiary_path(@insurance_beneficiary) %> |
<%= link_to 'Volver', insurance_beneficiaries_path %>
