<%= form_for @user_authorization do |f| %>
	<% if @user_authorization.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user_authorization.errors.count, "error") %> prohibido guardar User Authorization:</h2>
			<ul>
			<% @user_authorization.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :authorization_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :authorization_id %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
