<h1>User Authorizations</h1>

<table>
	<tr>
		<th>User</th>
		<th>Authorization</th>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for user_authorization in @user_authorizations %>
		<tr>
			<td><%= user_authorization.user_id %></td>
			<td><%= user_authorization.authorization_id %></td>
            <td><a href="/user_authorizations/<%= user_authorization.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/user_authorizations/<%= user_authorization.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/user_authorizations/<%= user_authorization.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo User Authorization", new_user_authorization_path %></p>
