- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossDamaged.model_name.human, sicoss_damageds_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => SicossDamaged.model_name.human) , new_sicoss_damaged_path(@sicoss_damaged), :class => "btn success" 
  - if @sicoss_damageds.any?
    = link_to t('scaffold.actions.export').titlecase, sicoss_damageds_path( :format => 'pdf'), :class => "btn info"

- if @sicoss_damageds.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :name, @sicoss_damageds.human_attribute_name('name')
      %th= sort_link @search, :code, @sicoss_damageds.human_attribute_name('code')
      %th= sort_link @search, :default, @sicoss_damageds.human_attribute_name('default')
      %th.last

    - @sicoss_damageds.each do |item|
      %tr
        %td= item.name
        %td= item.code
        %td= check_box_tag "sicoss_damaged_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_sicoss_damaged_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@sicoss_damageds)
  .clear
.clear
