<%= form_for(@home_about) do |f| %>
  <% if @home_about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_about.errors.count, "error") %> prohibited this home_about from being saved:</h2>

      <ul>
      <% @home_about.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
