= form_for(@home_about) do |f|
  - if @home_about.errors.any?
    #error_explanation
      %h2
        = pluralize(@home_about.errors.count, "error")
        prohibited this home_about from being saved:
      %ul
        - @home_about.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
