- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item HomeAbout.model_name.human, home_abouts_path 
    - breadcrumb.item "#{@home_about.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_home_about_path(@home_about), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @home_about, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@home_about) do |f|
  = render 'shared/errorhandler', :obj_errors => @home_about.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @home_about.code
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @home_about.detalle
      %tr
        %td.columnLabel
          = f.label :default, :class => "apsLabel"
        %td.columnData
          = @home_about.default
.clear
