= form_for(@tipo_recibo) do |f|
  - if @tipo_recibo.errors.any?
    #error_explanation
      %h2
        = pluralize(@tipo_recibo.errors.count, "error")
        prohibited this tipo_recibo from being saved:
      %ul
        - @tipo_recibo.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = f.text_field :detalle, :class => "apsTextbox"
    %tr
      %td.columnLabel
        = f.label :recibo_principal, :class => "apsLabel"
      %td.columnData
        = f.check_box :recibo_principal, :class => "apsCheckbox"
  .actions
    = f.submit :class => "btn success"
