<%= form_for @tipo_recibo do |f| %>
	<% if @tipo_recibo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@tipo_recibo.errors.count, "error") %> prohibido guardar Tipo Recibo:</h2>
			<ul>
			<% @tipo_recibo.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :detalle %></strong></td>
			<td style="width:70%">
				<%= f.text_field :detalle %>
		</tr>
        <tr>
          <td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :recibo_principal %></strong></td>
            <td style="width:70%">
                <%= f.check_box :recibo_principal %>
            </td>
        </tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
