= form_for(@tipo_recibo) do |f|
  = render 'shared/errorhandler', :obj_errors => @tipo_recibo.errors
  .clear
  .form_box
    .form_box_title
    /  %span.title= TipoRecibo.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :recibo_principal, :class => "apsLabel"
        %td.columnData
          = f.check_box :recibo_principal, :class => "apsCheckbox"
  .actions
    = f.submit :class => "btn success"
