%h1 Listado de tipos de recibos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @tipo_recibos.each do |tipo_recibo|
    %tr
      %td= tipo_recibo.detalle
      %td= link_to 'Visualizar', tipo_recibo
      %td= link_to 'Editar', edit_tipo_recibo_path(tipo_recibo)
      %td= link_to 'Volver', tipo_recibo, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'Nuevo Tipo recibo', new_tipo_recibo_path
