- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item TipoRecibo.model_name.human, tipo_recibos_path 
    - breadcrumb.item "#{@tipo_recibo.detalle.titlecase}", tipo_recibo_path(@tipo_recibo), :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_tipo_recibo_path(@tipo_recibo), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @tipo_recibo, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@tipo_recibo) do |f|
  - if @tipo_recibo.errors.any?
    #error_explanation
      %h2
        = pluralize(@tipo_recibo.errors.count, "error")
        prohibited this tipo_recibo from being saved:
      %ul
        - @tipo_recibo.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = @tipo_recibo.detalle
    %tr
      %td.columnLabel
        = f.label :recibo_principal, :class => "apsLabel"
      %td.columnData
        = @tipo_recibo.recibo_principal
.clear
