= form_for(@sicoss_situation) do |f|
  - if @sicoss_situation.errors.any?
    #error_explanation
      %h2
        = pluralize(@sicoss_situation.errors.count, "error")
        prohibited this sicoss_situation from being saved:
      %ul
        - @sicoss_situation.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :name, :class => "apsLabel"
      %td.columnData
        = f.text_field :name, :class => "apsTextbox"
    %tr
      %td.columnLabel
        = f.label :code, :class => "apsLabel"
      %td.columnData
        = f.text_field :code, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
