
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => SicossSituation.model_name.human).titlecase

%table
  %tr

    %th= SicossSituation.human_attribute_name('code')

    %th= SicossSituation.human_attribute_name('name')

    %th
    %th
    %th

  - @sicoss_situations.each do |sicoss_situation|
    %tr

      %td= sicoss_situation.name

      %td= sicoss_situation.company_id

      %td= link_to t('scaffold.actions.show').titlecase, sicoss_situation
      %td= link_to t('scaffold.actions.edit').titlecase, edit_sicoss_situation_path(sicoss_situation)
      %td= link_to t('scaffold.actions.destroy').titlecase, sicoss_situation, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => SicossSituation.model_name.human).titlecase, new_sicoss_situation_path

