- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item DeduccionGananciasTable.model_name.human, deduccion_ganancias_tables_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => DeduccionGananciasTable.model_name.human) , new_deduccion_ganancias_table_path(@deduccion_ganancias_table), :class => "btn success" 
  - if @deduccion_ganancias_tables.any?
    = link_to t('scaffold.actions.export').titlecase, "/print_table?tablename=" + DeduccionGananciasTable.model_name, :class => "btn info"

- if @deduccion_ganancias_tables.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :no_imponibles, @deduccion_ganancias_tables.human_attribute_name('no_imponibles')
      %th= sort_link @search, :conyuge, @deduccion_ganancias_tables.human_attribute_name('conyuge')
      %th= sort_link @search, :hijo, @deduccion_ganancias_tables.human_attribute_name('hijo')
      %th= sort_link @search, :otras, @deduccion_ganancias_tables.human_attribute_name('otras')
      %th= sort_link @search, :especial_inciso_e, @deduccion_ganancias_tables.human_attribute_name('especial_inciso_e')
      %th= sort_link @search, :especial_inciso_abc, @deduccion_ganancias_tables.human_attribute_name('especial_inciso_abc')
      %th= sort_link @search, :periodo_ano, @deduccion_ganancias_tables.human_attribute_name('periodo_ano')
      %th= sort_link @search, :periodo_mes, @deduccion_ganancias_tables.human_attribute_name('periodo_mes')
      %th.last

    - @deduccion_ganancias_tables.each do |item|
      %tr
        %td= item.no_imponibles
        %td= item.conyuge
        %td= item.hijo
        %td= item.otras
        %td= item.especial_inciso_e
        %td= item.especial_inciso_abc
        %td= item.periodo_ano
        %td= item.periodo_mes
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_deduccion_ganancias_table_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@deduccion_ganancias_tables)
  .clear
.clear
