%p#notice= notice
%p
  %b Periodo Año:
  = @deduccion_ganancias_table.periodo_ano


%p
  %b Periodo Mes:
  = @deduccion_ganancias_table.periodo_mes


%p
  %b No imponibles:
  = @deduccion_ganancias_table.no_imponibles

%p
  %b Conyuge:
  = @deduccion_ganancias_table.conyuge


%p
  %b Hijo:
  = @deduccion_ganancias_table.hijo

%p
  %b Otras:
  = @deduccion_ganancias_table.otras

%p
  %b Especial inciso e:
  = @deduccion_ganancias_table.especial_inciso_e

%p
  %b Especial inciso abc:
  = @deduccion_ganancias_table.especial_inciso_abc

  = deduccion_ganancias_table_links(@edit_deduccion_ganancias_table)
= link_to 'Back', deduccion_ganancias_tables_path
