<p id="notice"><%= notice %></p>

<p>
  <b>Periodo Año:</b>
  <%= @deduccion_ganancias_table.periodo_ano %>
</p>

<p>
  <b>Periodo Mes:</b>
  <%= @deduccion_ganancias_table.periodo_mes %>
</p>

<p>
  <b>No imponibles:</b>
  <%= @deduccion_ganancias_table.no_imponibles %>
</p>

<p>
  <b>Conyuge:</b>
  <%= @deduccion_ganancias_table.conyuge %>
</p>

<p>
  <b>Hijo:</b>
  <%= @deduccion_ganancias_table.hijo %>
</p>

<p>
  <b>Otras:</b>
  <%= @deduccion_ganancias_table.otras %>
</p>

<p>
  <b>Especial inciso e:</b>
  <%= @deduccion_ganancias_table.especial_inciso_e %>
</p>

<p>
  <b>Especial inciso abc:</b>
  <%= @deduccion_ganancias_table.especial_inciso_abc %>
</p>


<%= link_to 'Edit', edit_deduccion_ganancias_table_path(@deduccion_ganancias_table) %> |
<%= link_to 'Back', deduccion_ganancias_tables_path %>
