<h1>Menus</h1>

<table class="tableStandard">
	<tr>
        <th>Id</th>
		<th>Parent</th>
		<th>Name</th>
		<th>Link Url</th>
		<th>Order No</th>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for menu in @menus %>
		<tr>
            <td><%= menu.id %></td>
            <td><%= menu.parent_id %></td>
			<td><%= menu.name %></td>
			<td><%= menu.link_url %></td>
			<td><%= menu.order_no %></td>
            <td><a href="/menus/<%= menu.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/menus/<%= menu.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/menus/<%= menu.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Menu", new_menu_path %></p>
