- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Menu.model_name.human, menus_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Menu.model_name.human) , new_menu_path(@menu), :class => "btn success" 
  - if @menus.any?
    = link_to t('scaffold.actions.export').titlecase, menus_path( :format => 'pdf'), :class => "btn info"

- if @menus.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :parent_id, @menus.human_attribute_name('parent_id')
      %th= sort_link @search, :name, @menus.human_attribute_name('name')
      %th= sort_link @search, :link_url, @menus.human_attribute_name('link_url')
      %th= sort_link @search, :order_no, @menus.human_attribute_name('order_no')
      %th.last

    - @menus.each do |item|
      %tr
        %td= item.parent_id
        %td= item.name
        %td= item.link_url
        %td= item.order_no
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_menu_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@menus)
  .clear
.clear
