<%= form_for(@group_remuneration_relation) do |f| %>
  <% if @group_remuneration_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_remuneration_relation.errors.count, "error") %> prohibited this group_remuneration_relation from being saved:</h2>

      <ul>
      <% @group_remuneration_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_remuneration_id %><br />
    <%= f.text_field :group_remuneration_id %>
  </div>
  <div class="field">
    <%= f.label :remuneration_id %><br />
    <%= f.text_field :remuneration_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
