<h1>Listing group_remuneration_relations</h1>

<table>
  <tr>
    <th>Group remuneration</th>
    <th>Remuneration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_remuneration_relations.each do |group_remuneration_relation| %>
  <tr>
    <td><%= group_remuneration_relation.group_remuneration_id %></td>
    <td><%= group_remuneration_relation.remuneration_id %></td>
    <td><%= link_to 'Show', group_remuneration_relation %></td>
    <td><%= link_to 'Edit', edit_group_remuneration_relation_path(group_remuneration_relation) %></td>
    <td><%= link_to 'Destroy', group_remuneration_relation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group remuneration relation', new_group_remuneration_relation_path %>
