<p id="notice"><%= notice %></p>

<p>
  <b>Group remuneration:</b>
  <%= @group_remuneration_relation.group_remuneration_id %>
</p>

<p>
  <b>Remuneration:</b>
  <%= @group_remuneration_relation.remuneration_id %>
</p>


<%= link_to 'Edit', edit_group_remuneration_relation_path(@group_remuneration_relation) %> |
<%= link_to 'Back', group_remuneration_relations_path %>
