= form_for(@labor_union) do |f|
  - if @labor_union.errors.any?
    #error_explanation
      %h2
        = pluralize(@labor_union.errors.count, "error")
        prohibited this labor_union from being saved:
      %ul
        - @labor_union.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :detalle
    %br/
    = f.text_field :detalle
  .actions
    = f.submit
