%h1 Listado de Sindicatos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @labor_unions.each do |labor_union|
    %tr
      %td= labor_union.detalle
      %td= link_to 'Visualizar', labor_union
      %td= link_to 'Editar', edit_labor_union_path(labor_union)
      %td= link_to 'Borrar', labor_union, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nuevo Sindicato', new_labor_union_path
