<h3>Filiacion</h3>
<div class="field">
  <%= f.label "Obra Social" %><br />
  <%= f.collection_select :health_insurance_id, HealthInsurance.all, :id, :detalle, :prompt => true %>
</div>

<div class="field">
  <%= f.label "Plan Obra Social" %><br />
  <%= f.text_field :plan_osocial %>
</div>

<div class="field">
  <%= f.label "Numero Afiliado Obra Social" %><br />
  <%= f.text_field :numero_afiliado_osocial %>
</div>

<div class="field">
  <%= f.label "Cargas Extras Obra Social" %><br />
  <%= f.text_field :cargas_extras_osocial %>
</div>

<div class="field">
  <%= f.label "Retencion Minima Obra Social" %><br />
  <%= f.text_field :retencion_minima_osocial %>
</div>

<div class="field">
  <%= f.label "Sindicato" %><br />
  <%= f.collection_select :labor_union_id, LaborUnion.all, :id, :detalle, :prompt => true %>
</div>

<div class="field">
  <%= f.label "Numero Afiliado Sindicato" %><br />
  <%= f.text_field :numero_afiliado_sindicato %>
</div>

<div class="field">
  <%= f.label "Numero de Jubilacion" %><br />
  <%= f.text_field :numero_jubilacion %>
</div>

<div class="field">
  <%= f.label "Numero Ganancias" %><br />
  <%= f.text_field :numero_ganancias %>
</div>

<div class="field">
  <%= f.label "CUIT" %><br />
  <%= f.text_field :cuit %>
</div>

<div class="field">
  <%= f.label "CUIL" %><br />
  <%= f.text_field :cuil %>
</div>