<div class="field">
  <%= f.label "Telefono" %><br />
  <%= f.text_field :telefono %>
</div>
<div class="field">
  <%= f.label "Calle" %><br />
  <%= f.text_field :calle %>
</div>

<div class="field">
  <%= f.label "Puerta" %><br />
  <%= f.text_field :puerta %>
</div>

<div class="field">
  <%= f.label "Piso" %><br />
  <%= f.text_field :piso %>
</div>

<div class="field">
  <%= f.label "Departamento" %><br />
  <%= f.text_field :departamento %>
</div>

<div class="field">
  <%= f.label "Localidad" %><br />
  <%= f.collection_select :location_id, Location.all, :id, :detalle, :prompt => true %>
</div>

<div class="field">
  <%= f.label "Provincia" %><br />
  <%= f.collection_select :province_id, Province.all, :id, :detalle, :prompt => true %>
</div>

<div class="field">
  <%= f.label "Pais" %><br />
  <%= f.collection_select :country_id, Country.all, :id, :detalle, :prompt => true %>
</div>

<div class="field">
  <%= f.label "Codigo Postal" %><br />
  <%= f.text_field :codigo_postal %>
</div>

<div class="field">
  <%= f.label "Domicilio Sobre" %><br />
  <%= f.collection_select :home_about_id, HomeAbout.all, :id, :detalle, :prompt => true %>
</div>

<div class="field">
  <%= f.label "Cuadras de Asfalto" %><br />
  <%= f.text_field :cuadras_asfalto %>
</div>

<div class="field">
  <%= f.label "Entre Calle(izquierda)" %><br />
  <%= f.text_field :domicilio_entre_calle_izquierda %>
</div>

<div class="field">
  <%= f.label "Entre Calle(Derecha)" %><br />
  <%= f.text_field :domicilio_entre_calle_derecha %>
</div>

<div class="field">
  <%= f.label "Entre Calle(detras)" %><br />
  <%= f.text_field :domicilio_entre_calles_detras %>
</div>

<div class="field">
  <%= f.label "Avenida mas Cercana" %><br />
  <%= f.text_field :domicilio_avenida_cercana %>
</div>

<div class="field">
  <%= f.label "Altura Avenida mas Cercana" %><br />
  <%= f.text_field :domicilio_avenida_cercana_altura %>
</div>

<div class="field">
  <%= f.label "Movil" %><br />
  <%= f.text_field :movil %>
</div>

<div class="field">
  <%= f.label "Tipo de Email" %><br />
  <%= f.text_field :email_type_id %>
</div>

<div class="field">
  <%= f.label "Direccion eMail" %><br />
  <%= f.text_field :email %>
</div>