%h3 Contratacion
.field
  = f.label "Consorcio"
  %br/
  = f.collection_select :consortium_id, Consortium.all, :id, :name, :prompt => true
.field
  = f.label "fecha_ingreso"
  %br/
  = f.text_field :fecha_ingreso, :class => :datepicker
.field
  = f.label "Modalidad de Contrato"
  %br/
  = f.collection_select :contract_mode_id, ContractMode.all, :id, :detalle, :prompt => true
.field
  = f.label "fecha_egreso"
  %br/
  = f.text_field :fecha_egreso, :class => :datepicker
.field
  = f.label "Causa de Egreso"
  %br/
  = f.collection_select :causa_egreso_id, CausaEgreso.all, :id, :detalle, :prompt => true
.field
  = f.label "horas_pactadas"
  %br/
  = f.text_field :horas_pactadas
.field
  = f.label "remuneracion_fuera_convenio"
  %br/
  = f.text_field :remuneracion_fuera_convenio
.field
  = f.label "Tipo de Remuneracion"
  %br/
  = f.collection_select :remuneration_type_id, RemunerationType.all, :id, :detalle, :prompt => true
.field
  = f.label "Grupo de Remuneraciones"
  %br/
  = f.collection_select :group_remuneration_id, GroupRemuneration.all, :id, :detalle, :prompt => true
.field
  = f.label "Grupo de Retenciones"
  %br/
  = f.collection_select :group_retention_id, GroupRetention.all, :id, :detalle, :prompt => true
.field
  = f.label "Grupo de Aportes Patronales"
  %br/
  = f.collection_select :group_employer_contribution_id, GroupEmployerContribution.all, :id, :detalle, :prompt => true
.field
  = f.label "Centro de costo"
  %br/
  = f.collection_select :cost_center_id, CostCenter.all, :id, :detalle, :prompt => true
.field
  = f.label "Años de Antiguedad Reconocida"
  %br/
  = f.text_field :antiguedad_reconocida_anos
.field
  = f.label "Meses de Antiguedad Reconocida"
  %br/
  = f.text_field :antiguedad_reconocida_meses
.field
  = f.label "Imputacion Contable"
  %br/
  = f.collection_select :accounting_imputation_id, AccountingImputation.all, :id, :detalle, :prompt => true
