<tr class="nested-fields">
   <td><%= f.collection_select :retention_concept_id, RetentionConcept.all, :id, :detalle, :prompt => true %></td>
   <td><%= f.text_field :detalle %></td>
   <td><%= f.text_field :cantidad%></td>
   <td><%= f.text_field :importe %></td>
   <td><%= link_to_remove_association "Borrar", f %></td>
 </tr>
