- content_for(:head) do
  :css
    .field{
        float:left;
        width:33%;
    }

     .actions{
        clear:both;
    }
  = javascript_tag do
    $( "#employee_fecha_nacimiento" ).datepicker({
    defaultDate: -#{18.years.days},
    changeMonth: true,
    changeYear: true,
    minDate: new Date(1901, 1 - 1, 1),
    maxDate: (new Date).setFullYear("#{Date.today.year - 18}")
    });

  = javascript_tag do
    $( function() {	$("ul.tabs").tabs("div.panels > div");
    });
localizacion: #{I18n.locale}

= form_for :employee, @employee, :url => employee_path, :html => { :multipart => true } do |f|

  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  = f.file_field :avatar
  %ul.tabs
    %li
      %a{:href => "#"} Personales
    %li
      %a{:href => "#"} Domicilio
    %li
      %a{:href => "#"} Ocupacion
    %li
      %a{:href => "#"} Filiacion
    %li
      %a{:href => "#"} Contratacion
    %li
      %a{:href => "#"} Banco-Seguro
    %li
      %a{:href => "#"} Familiares
    %li
      %a{:href => "#"} Benef.Seguro
    %li
      %a{:href => "#"} Remuneraciones
    %li
      %a{:href => "#"} Retenciones
  .panels
    .panel
      = render :partial => 'datos_personales', :locals => {:f => f}
    .panel
      = render :partial => 'datos_domicilio', :locals => {:f => f}
    .panel
      = render :partial => 'datos_ocupacion', :locals => {:f => f}
    .panel
      = render :partial => 'datos_filiacion', :locals => {:f => f}
    .panel
      = render :partial => 'datos_contratacion', :locals => {:f => f}
    .panel
      = render :partial => 'datos_seguro_banco', :locals => {:f => f}
    .panel
      .field-nested
        = f.label " "
        %br/
        %h3 Familiares
        #employee_familiares
          = f.fields_for :employee_familiars do |employee_familiar|
            = render 'employee_familiar_fields', :f => employee_familiar
          .links
            = link_to_add_association 'Agregar Familiar', f, :employee_familiars
    .panel
      .field
        %h3 Benefiario Seguro
        #Insurance_beneficiary
          %table.field
            %tr
              %th= f.label "Apellido"
              %th= f.label "Nombre"
              %th= f.label "Tipo documento"
              %th= f.label "Numero de Documento"
              %th= f.label "Fecha Nacimiento"
              %th &nbsp;
            %tbody#nested-holder
              = f.fields_for :insurance_beneficiaries do |insurance_beneficiary|
                = render 'insurance_beneficiary_fields', :f => insurance_beneficiary
          .links
            = link_to_add_association 'Agregar Beneficiario Seguro', f, :insurance_beneficiaries, 'data-association-insertion-node' => '#nested-holder', 'data-association-insertion-position' => :before
    .panel
      .field
        %h3 Conceptos remunerativos personalizados
        #employee_remunerative_concept
          %table.field
            %tr
              %th= f.label "Concepto haber"
              %th= f.label "Detalle Personalizado"
              %th= f.label "Centro Costo"
              %th= f.label "Cantidad"
              %th= f.label "Importe"
              %th &nbsp;
            %tbody#nested-holder2
              = f.fields_for :employee_remunerative_concepts do |erc|
                = render 'employee_remunerative_concept_fields', :f => erc
          .links
            = link_to_add_association 'Agregar Haber', f, :employee_remunerative_concepts, 'data-association-insertion-node' => '#nested-holder2', 'data-association-insertion-position' => :before
    .panel
      .field
        %h3 Conceptos de retenciones personalizados
        #employee_retention_concept
          %table.field
            %tr
              %th= f.label "Concepto haber"
              %th= f.label "Detalle Personalizado"
              %th= f.label "Cantidad"
              %th= f.label "Importe"
              %th &nbsp;
            %tbody#nested-holder3
              = f.fields_for :employee_retention_concepts do |erc|
                = render 'employee_retention_concept_fields', :f => erc
          .links
            = link_to_add_association 'Agregar retencion', f, :employee_retention_concepts, 'data-association-insertion-node' => '#nested-holder3', 'data-association-insertion-position' => :before
  .actions
    = f.submit

