- content_for(:head) do
  :css
    .field{
        float:left;
        width:33%;
        padding: 5px 0px 5px 0px;
    }
    .tab_label{
        padding: 20px;
    }

     .actions{
        clear:both;
    }
  = javascript_tag do
    $(document).ready(function(){
    /$(".datepicker" ).datepicker({
    /defaultDate: -#{18.years.days},
    /changeMonth: true,
    /changeYear: true
    /});
    });

  = javascript_tag do
    /$( function() {$("ul.tabs").tabs("div.panes > div"); });

= form_for @employee,  :html => { :multipart => true } do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  %ul.tabs{"data-tabs" => "tabs"}
    %li.active
      %a{:href => "#personales"} Personales
    %li
      %a{:href => "#domicilio"} Domicilio
    %li
      %a{:href => "#ocupacion"} Ocupacion
    %li
      %a{:href => "#filiacion"} Filiacion
    %li
      %a{:href => "#contratacion"} Contratacion
    %li
      %a{:href => "#banco-seguro"} Banco-Seguro
    %li
      %a{:href => "#familiares"} Familiares
    %li
      %a{:href => "#beneficiarios"} Benef.Seguro
    %li
      %a{:href => "#remuneraciones"} Remuneraciones
    %li
      %a{:href => "#retenciones"} Retenciones
    %li
      %a{:href => "#afip"} AFIP
    %li
      %a{:href => "#documentos"} Documentos
  .tab-content
    #personales.active
      = render :partial => 'datos_personales', :locals => {:f => f}
    #domicilio
      = render :partial => 'datos_domicilio', :locals => {:f => f}
    #ocupacion
      = render :partial => 'datos_ocupacion', :locals => {:f => f}
    #filiacion
      = render :partial => 'datos_filiacion', :locals => {:f => f}
    #contratacion
      = render :partial => 'datos_contratacion', :locals => {:f => f}
    #banco-seguro
      = render :partial => 'datos_seguro_banco', :locals => {:f => f}
    #familiares
      .field-nested
        = f.label " "
        %br/
        %h3 Familiares
        #employee_familiares
          = f.fields_for :employee_familiars do |employee_familiar|
            = render 'employee_familiar_fields', :f => employee_familiar
          .links
            = link_to_add_association 'Agregar Familiar', f, :employee_familiars
    #beneficiarios
      .field
        %h3 Beneficiario Seguro
        #Insurance_beneficiary
          %table.field
            %tr
              %th= f.label "Apellido"
              %th= f.label "Nombre"
              %th= f.label "Tipo documento"
              %th= f.label "Numero de Documento"
              %th= f.label "Fecha Nacimiento"
              %th= f.label "Direccion"
              %th= f.label "Parentezco"
              %th= f.label "% de la Poliza"
              %th &nbsp;
            %tbody#nested-holder
              = f.fields_for :insurance_beneficiaries do |insurance_beneficiary|
                = render 'insurance_beneficiary_fields', :f => insurance_beneficiary
          .links
            = link_to_add_association 'Agregar Beneficiario Seguro', f, :insurance_beneficiaries, 'data-association-insertion-node' => '#nested-holder', 'data-association-insertion-position' => :before
    #remuneraciones
      .field
        %h3 Conceptos remunerativos personalizados
        #employee_remunerative_concept
          %table.field
            %tr
              %th= f.label "Concepto haber"
              %th= f.label "Detalle Personalizado"
              %th= f.label "Centro Costo"
              %th= f.label "Cantidad"
              %th= f.label "Importe"
              %th &nbsp;
            %tbody#nested-holder2
              = f.fields_for :employee_remunerative_concepts do |erc|
                = render 'employee_remunerative_concept_fields', :f => erc
          .links
            = link_to_add_association 'Agregar Haber', f, :employee_remunerative_concepts, 'data-association-insertion-node' => '#nested-holder2', 'data-association-insertion-position' => :before
    #retenciones
      .field
        %h3 Conceptos de retenciones personalizados
        #employee_retention_concept
          %table.field
            %tr
              %th= f.label "Concepto Retencion"
              %th= f.label "Detalle Personalizado"
              %th= f.label "Cantidad"
              %th= f.label "Importe"
              %th &nbsp;
            %tbody#nested-holder3
              = f.fields_for :employee_retention_concepts do |erc|
                = render 'employee_retention_concept_fields', :f => erc
          .links
            = link_to_add_association 'Agregar retencion', f, :employee_retention_concepts, 'data-association-insertion-node' => '#nested-holder3', 'data-association-insertion-position' => :before
    #afip
      = render :partial => 'datos_siscoss', :locals => {:f => f}
    #documentos
      = render 'shared/attachments_manager', :f => f

  .actions
    = f.submit :class => "btn success"
