<tr class="nested-fields">
  <td><%= f.text_field :apellido %></td>
  <td><%= f.text_field :nombre %></td>
  <td><%= f.collection_select :document_type_id,  DocumentType.all, :id, :detalle, :prompt => true  %></td>
  <td><%= f.text_field :numero_documento %></td>
  <td><%= f.text_field :fecha_nacimiento, :class => :datepicker %></td>
  <td><%= link_to_remove_association "Borrar", f %></td>
</tr>


