<tr class="nested-fields">
  <td><%= f.text_field :apellido %></dt>
  <td><%= f.text_field :nombre %></dt>
   <td><%= f.collection_select :document_type_id,  DocumentType.all, :id, :detalle, :prompt => true  %></td>
   <td><%= f.text_field :numero_documento %></td>
   <td><%= f.date_select :fecha_nacimiento%></td>
 </tr>


