<h1>Listado de Empleados</h1>

<table width='50%'> 
  <tr> 
    <th>Legajo</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Telefono</th>
    <th>Movil</th>
    <th>Categoria</th>
    <th>Seccion</th>
    <th>Tarea</th>
    <th>Lugar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.legajo %></td>
    <td><%= employee.nombre %></td>
    <td><%= employee.apellido %></td>
    <td><%= employee.telefono %></td>
    <td><%= employee.movil %></td>
    <td><%= employee.category.try(:detalle) %></td>
    <td><%= employee.section.try(:detalle)%></td>
    <td><%= employee.task.try(:detalle) %></td>
    <td><%= employee.place.try(:detalle) %></td>
    <td><%= link_to 'Visualizar', employee %></td>
    <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
    <td><%= link_to 'Borrar', employee, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Empleado', new_employee_path %>
