%h1 Listado de Empleados
%table{:width => "50%"}
  %tr
    %th Legajo
    %th Nombre
    %th Apellido
    %th Telefono
    %th Movil
    %th Categoria
    %th Seccion
    %th Tarea
    %th Lugar
    %th
    %th
    %th
  - @employees.each do |employee|
    %tr
      %td= employee.legajo
      %td= employee.nombre
      %td= employee.apellido
      %td= employee.telefono
      %td= employee.movil
      %td= employee.category.try(:detalle)
      %td= employee.section.try(:detalle)
      %td= employee.task.try(:detalle)
      %td= employee.place.try(:detalle)
      %td= link_to 'Visualizar', employee
      %td= link_to 'Editar', edit_employee_path(employee)
      %td= link_to 'Borrar', employee, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nuevo Empleado', new_employee_path
