%h1 Listado de Empleados
%table.tableStandard{:width => "50%"}
  %tr
    %th Legajo
    %th Nombre
    %th Apellido
    %th Telefono
    %th Movil
    %th Categoria
    %th Seccion
    %th Tarea
    %th Lugar
    %th{ :colspan => '3', :style => "text-align:center;"} Acciones
  - @employees.each do |employee|
    %tr
      %td= employee.legajo
      %td= employee.nombre
      %td= employee.apellido
      %td= employee.telefono
      %td= employee.movil
      %td= employee.category.try(:detalle)
      %td= employee.section.try(:detalle)
      %td= employee.task.try(:detalle)
      %td= employee.place.try(:detalle)
      -#%td= employee_links(employee)
      %td
        %a{ :href => "/employees/#{employee.id.to_s}" }
          %img{ :alt => "Ver", :src => "images/icons/16x16/application_get.png", :title => "Ver" }/
      %td
        %a{ :href => "/employees/#{employee.id.to_s}/edit" }
          %img{ :alt => "Editar", :src => "images/icons/16x16/application_edit.png", :title => "Editar" }/
      %td
        %a{ :href => "/employees/#{employee.id.to_s}", "data-confirm" => "Esta ud. seguro?", "data-method" => "delete", :rel => "nofollow" }
          %img{ :alt => "Eliminar", :src => "images/icons/16x16/application_delete.png", :title => "Eliminar" }/
%br/
= link_to 'Nuevo Empleado', new_employee_path
