<h1>Visualizacion de Empleado</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Legajo:</b>
  <%= @employee.legajo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @employee.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @employee.apellido %>
</p>

<p>
  <b>Telefono:</b>
  <%= @employee.telefono %>
</p>

<p>
  <b>Tipo de Documento:</b>
  <%= @employee.document_type.try(:detalle) %>
</p>

<p>
  <b>Numero de Documento:</b>
  <%= @employee.numero_documento %>
</p>

<p>
  <b>Lugar Emision Documento:</b>
  <%= @employee.issued.try(:detalle) %>
</p>

<p>
  <b>Sexo:</b>
  <%= @employee.sexo %>
</p>

<p>
  <b>Nacionalidad:</b>
  <%= @employee.nationality.try(:detalle) %>
</p>

<p>
  <b>Estado Civil:</b>
  <%= @employee.marital_status.try(:detalle) %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @employee.fecha_nacimiento %>
</p>

<p>
  <b>Calle:</b>
  <%= @employee.calle %>
</p>

<p>
  <b>Puerta:</b>
  <%= @employee.puerta %>
</p>

<p>
  <b>Piso:</b>
  <%= @employee.piso %>
</p>

<p>
  <b>Departamento:</b>
  <%= @employee.departamento %>
</p>

<p>
  <b>Localidad:</b>
  <%= @employee.location.try(:detalle) %>
</p>

<p>
  <b>Provincia:</b>
  <%= @employee.province.try(:detalle) %>
</p>

<p>
  <b>Pais:</b>
  <%= @employee.country.try(:detalle) %>
</p>

<p>
  <b>Codigo postal:</b>
  <%= @employee.codigo_postal %>
</p>

<p>
   <b>Movil: </b>
   <%= @employee.movil %>
</p>

<p>
   <b>Tipo de Email: </b>
   <%= @employee.email_type_id %>
</p>

<p>
   <b>Direccion eMail: </b>
   <%= @employee.email %>
</p>

<p>
   <b>Categoria: </b>
   <%= @employee.category.try(:detalle) %>
</p>

<p>
   <b>Seccion: </b>
   <%= @employee.section.try(:detalle)  %>
</p>

<p>
   <b>Tarea Desempeñada: </b>
   <%= @employee.task.try(:detalle) %>
</p>

<p>
   <b>Lugar de Trabajo: %></b>
   <%= @employee.place.try(:detalle)%>
</p>

<p>
   <b>Ocupacion: </b>
   <%= @employee.employment.try(:detalle)%>
</p>

<p>
   <b>Caracter de Servicio: </b>
   <%= @employee.character_service.try(:detalle)%>
</p>

<p>
   <b>Matricula Nacional: </b>
   <%= @employee.matricula_nacional %>
</p>

<p>
   <b>Matricula Provincial: </b>
   <%= @employee.matricula_provincial %>
</p>

<p>
   <b>Discapacidad: </b>
   <%= @employee.discapacidad%>
</p>

<p>
   <b>Obra Social: </b>
   <%= @employee.health_insurance.try(:detalle)%>
</p>

<p>
   <b>Plan Obra Social: </b>
   <%= @employee.plan_osocial %>
</p>

<p>
   <b>Numero Afiliado Obra Social: </b/>
   <%= @employee.numero_afiliado_osocial %>
</p>

<p>
   <b>Cargas Extras Obra Social: </b>
   <%= @employee.cargas_extras_osocial %>
</p>

<p>
   <b>Sindicato: </b>
   <%= @employee.labor_union.try(:detalle)%>
</p>

<p>
   <b>Numero Afiliado Sindicato: </b>
   <%= @employee.numero_afiliado_sindicato %>
</p>

<p>
   <b>Numero de Jubilacion: </b>
   <%= @employee.numero_jubilacion %>
</p>

<p>
   <b>Numero Ganancias: </b>
   <%= @employee.numero_ganancias %>
</p>

<p>
   <b>CUIT: </b>
   <%= @employee.cuit %>
</p>

<p>
   <b>CUIL: </b>
   <%= @employee.cuil %>
</p>

<p>
   <b>fecha_ingreso: ></b>
   <%= @employee.fecha_ingreso %>
</p>

<p>
   <b>fecha_egreso: </b>
   <%= @employee.fecha_egreso %>
</p>

<p>
   <b>horas_pactadas: </b>
   <%= @employee.horas_pactadas %>
</p>

<p>
   <b>remuneracion_fuera_convenio:></b>
   <%= @employee.remuneracion_fuera_convenio %>
</p>

<p>
   <b>Tipo de Remuneracion: </b>
   <%= @employee.remuneration_type.try(:detalle)%>
</p>

<p>
   <b>Grupo de Remuneraciones: ></b>
   <%= @employee.group_remuneration.try(:detalle) %>
</p>

<p>
   <b>Grupo de Retenciones: </b>
   <%= @employee.group_retention.try(:detalle) %>
</p>

<p>
   <b>Grupo de Aportes Patronales: </b>
   <%= @employee.group_employer_contribution.try(:detalle) %>
</p>

<p>
   <b>Centro de costo: </b>
   <%= @employee.cost_center.try(:detalle)%>
</p>

<p>
   <b>Años de Antiguedad Reconocida: </b>
   <%= @employee.antiguedad_reconocida_anos %>
</p>

<p>
   <b>Meses de Antiguedad Reconocida: </b>
   <%= @employee.antiguedad_reconocida_meses %>
</p>

<p>
   <b>Retencion Minima Obra Social: </b>
   <%= @employee.retencion_minima_osocial %>
</p>

<p>
   <b>Nivel de Estudios: </b>
   <%= @employee.educational_level.try(:detalle)%>
</p>

<p>
   <b>Numero Tarjeta de Fichaje: </b>
   <%= @employee.id_card %>
</p>

<p>
   <b>Numero de Cofre: </b>
   <%= @employee.numero_cofre %>
</p>

<p>
   <b>Modalidad de Contrato: </b>
   <%= @employee.contract_mode.try(:detalle)%>
</p>

<p>
  <b>Domicilio Sobre: </b>
   <%= @employee.home_about.try(:detalle)%>
</p>

<p>
   <b>Cuadras de Asfalto: </b>
   <%= @employee.cuadras_asfalto %>
</p>

<p>
   <b>Entre Calle(izquierda): </b>
   <%= @employee.domicilio_entre_calle_izquierda %>
</p>

<p>
   <b>Entre Calle(Derecha): </b>
   <%= @employee.domicilio_entre_calle_derecha %>
</p>

<p>
   <b>Entre Calle(detras): </b>
   <%= @employee.domicilio_entre_calles_detras %>
</p>

<p>
   <b>Avenida mas Cercana: </b>
   <%= @employee.domicilio_avenida_cercana %>
</p>

<p>
   <b>Altura Avenida mas Cercana: </b>
   <%= @employee.domicilio_avenida_cercana_altura %>
</p>

<p>
   <b>Imputacion Contable: </b>
   <%= @employee.accounting_imputation.try(:detalle)%>
</p>

<p>
 <b>Aseguradora: </b>
   <%= @employee.insurance_company.try(:detalle)%>
</p>

<p>
   <b>Seguro Conyuge: </b>
   <%= @employee.seguro_conyuge %>
</p>

<p>
   <b>Numero Poliza de Seguro: </b>
   <%= @employee.Seguro_numero_poliza %>
</p>

<p>
   <b>Monto Asegurado: </b>
   <%= @employee.seguro_monto_asegurado %>
</p>

<p>
   <b>Banco Deposito Haberes: </b>
   <%= @employee.bank_deposit.try(:detalle)%>
</p>

<p>
  <b>Tipo Cuenta Bancaria: </b>
   <%= @employee.bank_deposit_account_type.try(:detalle)%>
</p>

<p>
   <b>Numero Cuenta Bancaria: </b>
   <%= @employee.deposito_banco_cuenta %>
</p>

<p>
   <b>CBU Cuenta Bancaria: </b>
   <%= @employee.deposito_banco_cbu %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Volver', employees_path %>
