= form_for(@employment) do |f|
  - if @employment.errors.any?
    #error_explanation
      %h2
        = pluralize(@employment.errors.count, "error")
        prohibited this employment from being saved:
      %ul
        - @employment.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :detalle
    %br/
    = f.text_field :detalle
  .actions
    = f.submit
