= form_for(@sicoss_activity) do |f|
  = render 'shared/errorhandler', :obj_errors => @sicoss_activity.errors
  .clear
  %br/
  .form_box
    .form_box_title
    /  %span.title= SicossActivity.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = f.text_field :name, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = f.text_field :code, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
