= form_for(@remuneration_type) do |f|
  - if @remuneration_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@remuneration_type.errors.count, "error")
        prohibited this remuneration_type from being saved:
      %ul
        - @remuneration_type.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= RemunerationType.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :hora_dia_mes, :class => "apsLabel"
        %td.columnData
          = f.text_field :hora_dia_mes, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
