<h1>Listado de Tipos de Remuneracion</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @remuneration_types.each do |remuneration_type| %>
  <tr>
    <td><%= remuneration_type.detalle %></td>
    <td><%= link_to 'Visualizar', remuneration_type %></td>
    <td><%= link_to 'Editar', edit_remuneration_type_path(remuneration_type) %></td>
    <td><%= link_to 'Borrar', remuneration_type, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Tipo de Remuneracion', new_remuneration_type_path %>
