<h1>Tipo de Remuneracion</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @remuneration_type.detalle %></td>
	</tr>
  <tr>
      <td style="width:30%;background-color: #C3D5D5;"><strong>Hora, Dia o Mes:</strong></td>
      <td style="width:70%"><%= @remuneration_type.hora_dia_mes %></td>
  </tr>
</table>
<p>
	<%= link_to "Editar", edit_remuneration_type_path(@remuneration_type) %> |
	<%= link_to "Eliminar", @remuneration_type, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Tipos de Remuneracion", remuneration_types_path %>
</p>
