= form_for(@educational_level) do |f|
  - if @educational_level.errors.any?
    #error_explanation
      %h2
        = pluralize(@educational_level.errors.count, "error")
        prohibited this educational_level from being saved:
      %ul
        - @educational_level.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
