<%= form_for(@educational_level) do |f| %>
  <% if @educational_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@educational_level.errors.count, "error") %> prohibited this educational_level from being saved:</h2>

      <ul>
      <% @educational_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
