- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item EducationalLevel.model_name.human, educational_levels_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => EducationalLevel.model_name.human) , new_educational_level_path(@educational_level), :class => "btn success" 
  - if @educational_levels.any?
    = link_to t('scaffold.actions.export').titlecase, educational_levels_path( :format => 'pdf'), :class => "btn info"

- if @educational_levels.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @educational_levels.human_attribute_name('detalle')
      %th= sort_link @search, :code, @educational_levels.human_attribute_name('code')
      %th= sort_link @search, :default, @educational_levels.human_attribute_name('default')
      %th.last

    - @educational_levels.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= check_box_tag "educational_level_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_educational_level_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@educational_levels)
  .clear
.clear
