<h1><h1>Listado de Niveles de Educacion</h1></h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @educational_levels.each do |educational_level| %>
  <tr>
    <td><%= educational_level.detalle %></td>
    <td><%= link_to 'Visualizar', educational_level %></td>
    <td><%= link_to 'Editar', edit_educational_level_path(educational_level) %></td>
    <td><%= link_to 'Borrar', educational_level, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Nivel de Educacion', new_educational_level_path %>
