- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item EducationalLevel.model_name.human, educational_levels_path 
    - breadcrumb.item "#{@educational_level.detalle.titlecase}", educational_level_path(@educational_level), :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_educational_level_path(@educational_level), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @educational_level, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@educational_level) do |f|
  - if @educational_level.errors.any?
    #error_explanation
      %h2
        = pluralize(@educational_level.errors.count, "error")
        prohibited this educational_level from being saved:
      %ul
        - @educational_level.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = @educational_level.detalle
.clear
