= form_for(@sicoss_format) do |f|
  = render 'shared/errorhandler', :obj_errors => @sicoss_format.errors
  .clear
  %br/
  .form_box
    .form_box_title
    /  %span.title= SicossFormat.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :position, :class => "apsLabel"
        %td.columnData
          = f.text_field :position, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = f.text_field :name, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :field_length, :class => "apsLabel"
        %td.columnData
          = f.text_field :field_length, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :justifies, :class => "apsLabel"
        %td.columnData
          = f.text_field :justifies, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :fill_character, :class => "apsLabel"
        %td.columnData
          = f.text_field :fill_character, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :formula, :class => "apsLabel"
        %td.columnData
          = f.text_field :formula, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :field_type, :class => "apsLabel"
        %td.columnData
          = f.text_field :field_type, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :number_of_decimals, :class => "apsLabel"
        %td.columnData
          = f.text_field :number_of_decimals, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :modifiable, :class => "apsLabel"
        %td.columnData
          = f.check_box :modifiable, :class => "apsCheckbox"
  .actions
    = f.submit :class => "btn success"
