
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => SicossFormat.model_name.human).titlecase

%table.tableStandard
  %tr
    %th= SicossFormat.human_attribute_name('position')

    %th= SicossFormat.human_attribute_name('name')

    %th= SicossFormat.human_attribute_name('field_length')

    %th= SicossFormat.human_attribute_name('number_of_decimals')

    %th= SicossFormat.human_attribute_name('justifies')

    %th= SicossFormat.human_attribute_name('fill_character')

    %th= SicossFormat.human_attribute_name('formula')

    %th= SicossFormat.human_attribute_name('modifiable')

    %th{ :colspan => '3', :style => "text-align:center;"} Acciones

  - @sicoss_formats.each do |sicoss_format|
    %tr

      %td= sicoss_format.position

      %td= sicoss_format.name

      %td= sicoss_format.field_length

      %td= sicoss_format.number_of_decimals

      %td= sicoss_format.justifies

      %td= sicoss_format.fill_character

      %td= sicoss_format.formula

      %td= sicoss_format.modifiable

      %td.last
        %a{ :href => "/sicoss_formats/#{sicoss_format.id.to_s}" }
          %img{ :alt => "Ver", :src => "images/icons/16x16/application_get.png", :title => "Ver" }/
      %td.last
        %a{ :href => "/sicoss_formats/#{sicoss_format.id.to_s}/edit" }
          %img{ :alt => "Editar", :src => "images/icons/16x16/application_edit.png", :title => "Editar" }/
      %td.last
        %a{ :href => "/sicoss_formats/#{sicoss_format.id.to_s}", "data-confirm" => "Esta ud. seguro?", "data-method" => "delete", :rel => "nofollow" }
          %img{ :alt => "Eliminar", :src => "images/icons/16x16/application_delete.png", :title => "Eliminar" }/

%br

= link_to t('scaffold.actions.new', :item => SicossFormat.model_name.human).titlecase, new_sicoss_format_path

