- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossFormat.model_name.human, sicoss_formats_path 
    - breadcrumb.item "#{@sicoss_format.name.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_sicoss_format_path(@sicoss_format), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @sicoss_format, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@sicoss_format) do |f|
  = render 'shared/errorhandler', :obj_errors => @sicoss_format.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :position, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.position
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.name
      %tr
        %td.columnLabel
          = f.label :field_length, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.field_length
      %tr
        %td.columnLabel
          = f.label :justifies, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.justifies == "R" ? "Derecha" : (item.justifies = "L" ? "Izquierda" : "Centrado")
      %tr
        %td.columnLabel
          = f.label :fill_character, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.fill_character
      %tr
        %td.columnLabel
          = f.label :formula, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.formula
      %tr
        %td.columnLabel
          = f.label :field_type, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.field_type  == "N" ? "Numerico" : "Caracter"
      %tr
        %td.columnLabel
          = f.label :number_of_decimals, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.number_of_decimals
      %tr
        %td.columnLabel
          = f.label :modifiable, :class => "apsLabel"
        %td.columnData
          = @sicoss_format.modifiable
.clear
