- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SchemaMigration.model_name.human, schema_migrations_path , :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_schema_migration_path(@schema_migration), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @schema_migration, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@schema_migration) do |f|
  = render 'shared/errorhandler', :obj_errors => @schema_migration.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :version, :class => "apsLabel"
        %td.columnData
          = @schema_migration.version
.clear
