<%= form_for(@group_employer_contribution) do |f| %>
  <% if @group_employer_contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_employer_contribution.errors.count, "error") %> prohibited this group_employer_contribution from being saved:</h2>

      <ul>
      <% @group_employer_contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
