= form_for(@group_employer_contribution) do |f|
  - if @group_employer_contribution.errors.any?
    #error_explanation
      %h2
        = pluralize(@group_employer_contribution.errors.count, "error")
        prohibited this group_employer_contribution from being saved:
      %ul
        - @group_employer_contribution.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= GroupEmployerContribution.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
