<%= form_for(@contract_mode) do |f| %>
  <% if @contract_mode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_mode.errors.count, "error") %> prohibited this contract_mode from being saved:</h2>

      <ul>
      <% @contract_mode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
