- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item ContractMode.model_name.human, contract_modes_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => ContractMode.model_name.human).titlecase , new_contract_mode_path(@contract_mode), :class => "btn success" 
  - if @contract_modes.any?
    = link_to t('scaffold.actions.export').titlecase, contract_modes_path( :format => 'pdf'), :class => "btn info"

- if @contract_modes.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @contract_modes.human_attribute_name('detalle')
      %th.last

    - @contract_modes.each do |item|
      %tr
        %td= item.detalle
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_contract_mode_path(item)
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete
    .clear
    .block{:style => 'margin:20px;'}= paginate(@contract_modes)
  .clear
.clear
