%h1 Listado de Modalidades de Contrato
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @contract_modes.each do |contract_mode|
    %tr
      %td= contract_mode.detalle
      %td= link_to 'Visualizar', contract_mode
      %td= link_to 'Editar', edit_contract_mode_path(contract_mode)
      %td= link_to 'Borrar', contract_mode, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nueva Modalidad de Contrato', new_contract_mode_path
