<h1>Modalidades de Contratacion</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :detalle, "Detalle" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for contract_mode in @contract_modes %>
		<tr>
			<td><%= contract_mode.detalle %></td>
            <td><a href="/contract_modes/<%= contract_mode.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/contract_modes/<%= contract_mode.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/contract_modes/<%= contract_mode.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nueva Modalidad de Contratacion", new_contract_mode_path %></p>

<%= paginate @contract_modes %>
