= form_for(@sicoss_employer_type) do |f|
  - if @sicoss_employer_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@sicoss_employer_type.errors.count, "error")
        prohibited this sicoss_employer_type from being saved:
      %ul
        - @sicoss_employer_type.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= SicossEmployerType.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = f.text_field :name, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = f.text_field :code, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
