
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => SicossEmployerType.model_name.human).titlecase

%table
  %tr

    %th= SicossEmployerType.human_attribute_name('code')

    %th= SicossEmployerType.human_attribute_name('name')

    %th
    %th
    %th

  - @sicoss_employer_types.each do |sicoss_employer_type|
    %tr

      %td= sicoss_employer_type.name

      %td= sicoss_employer_type.company_id

      %td= link_to t('scaffold.actions.show').titlecase, sicoss_employer_type
      %td= link_to t('scaffold.actions.edit').titlecase, edit_sicoss_employer_type_path(sicoss_employer_type)
      %td= link_to t('scaffold.actions.destroy').titlecase, sicoss_employer_type, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => SicossEmployerType.model_name.human).titlecase, new_sicoss_employer_type_path

