- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossContractMode.model_name.human, sicoss_contract_modes_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => SicossContractMode.model_name.human) , new_sicoss_contract_mode_path(@sicoss_contract_mode), :class => "btn success" 
  - if @sicoss_contract_modes.any?
    = link_to t('scaffold.actions.export').titlecase, sicoss_contract_modes_path( :format => 'pdf'), :class => "btn info"

- if @sicoss_contract_modes.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :name, @sicoss_contract_modes.human_attribute_name('name')
      %th= sort_link @search, :code, @sicoss_contract_modes.human_attribute_name('code')
      %th.last

    - @sicoss_contract_modes.each do |item|
      %tr
        %td= item.name
        %td= item.code
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_sicoss_contract_mode_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@sicoss_contract_modes)
  .clear
.clear
