%h1 Listing retention_concepts
%table
  %tr
    %th Codigo
    %th Detalle
    %th Formula de Calculo Valor
    %th Acumuladores
    %th Prioridad de calculo
    %th datos_a_pedir
    %th Statistical value
    %th Accounting imputation
    %th
    %th
    %th
  - @retention_concepts.each do |retention_concept|
    %tr
      %td= retention_concept.codigo
      %td= retention_concept.detalle
      %td= retention_concept.formula_calculo_valor
      %td= retention_concept.acumuladores_valor
      %td= retention_concept.prioridad
      %td= retention_concept.data_to_ask.try(:detalle)
      %td= retention_concept.statistical_value
      %td= retention_concept.accounting_imputation_id
      %td= retention_concept_links(retention_concept)
%br/
= link_to 'Nuevo concepto de Retencion', new_retention_concept_path
