<h1>Codigo de Retencion</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Codigo:</strong></td>
		<td style="width:70%"><%= @retention_concept.codigo %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @retention_concept.detalle %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Statistical Value:</strong></td>
		<td style="width:70%"><%= @retention_concept.statistical_value %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Accounting Imputation:</strong></td>
		<td style="width:70%"><%= @retention_concept.accounting_imputation_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Prioridad:</strong></td>
		<td style="width:70%"><%= @retention_concept.prioridad %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Formula Calculo Valor:</strong></td>
		<td style="width:70%"><%= @retention_concept.formula_calculo_valor %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Acumuladores Valor:</strong></td>
		<td style="width:70%"><%= @retention_concept.acumuladores_valor %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Data To Ask:</strong></td>
		<td style="width:70%"><%= @retention_concept.data_to_ask_id %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_retention_concept_path(@retention_concept) %> |
	<%= link_to "Eliminar", @retention_concept, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Codigos de Retenciones", retention_concepts_path %>
</p>
