<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @retention_concept.codigo %>
</p>

<p>
  <b>Detalle:</b>
  <%= @retention_concept.detalle %>
</p>

<p>
  <b>Formula de Calculo Valor:</b>
  <%= @retention_concept.formula_calculo_valor %>
</p>

<p>
  <b>Acumuladores Valor:</b>
  <%= @retention_concept.acumuladores_valor %>
</p>

<p>
  <b>Prioridad de Calculo:</b>
  <%= @retention_concept.prioridad %>
</p>

<p>
  <b>datos_a_pedir:</b>
  <%= @retention_concept.data_to_ask_id %>
</p>

<p>
  <b>Statistical value:</b>
  <%= @retention_concept.statistical_value %>
</p>

<p>
  <b>Accounting imputation:</b>
  <%= @retention_concept.accounting_imputation_id %>
</p>

<%= link_to 'Edit', edit_retention_concept_path(@retention_concept) %> |
<%= link_to 'Back', retention_concepts_path %>
