- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item EmployeeRemunerativeConcept.model_name.human, employee_remunerative_concepts_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => EmployeeRemunerativeConcept.model_name.human) , new_employee_remunerative_concept_path(@employee_remunerative_concept), :class => "btn success" 
  - if @employee_remunerative_concepts.any?
    = link_to t('scaffold.actions.export').titlecase, employee_remunerative_concepts_path( :format => 'pdf'), :class => "btn info"

- if @employee_remunerative_concepts.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :employee_id, @employee_remunerative_concepts.human_attribute_name('employee_id')
      %th= sort_link @search, :remunerative_concept_id, @employee_remunerative_concepts.human_attribute_name('remunerative_concept_id')
      %th= sort_link @search, :cantidad, @employee_remunerative_concepts.human_attribute_name('cantidad')
      %th= sort_link @search, :importe, @employee_remunerative_concepts.human_attribute_name('importe')
      %th= sort_link @search, :fecha_inicio, @employee_remunerative_concepts.human_attribute_name('fecha_inicio')
      %th= sort_link @search, :fecha_final, @employee_remunerative_concepts.human_attribute_name('fecha_final')
      %th= sort_link @search, :cost_center_id, @employee_remunerative_concepts.human_attribute_name('cost_center_id')
      %th= sort_link @search, :detalle, @employee_remunerative_concepts.human_attribute_name('detalle')
      %th.last

    - @employee_remunerative_concepts.each do |item|
      %tr
        %td= item.employee_id
        %td= item.remunerative_concept_id
        %td= item.cantidad
        %td= item.importe
        %td= item.fecha_inicio
        %td= item.fecha_final
        %td= item.cost_center_id
        %td= item.detalle
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_employee_remunerative_concept_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@employee_remunerative_concepts)
  .clear
.clear
