<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @employee_remunerative_concept.employee_id %>
</p>

<p>
  <b>Remunerative concept:</b>
  <%= @employee_remunerative_concept.remunerative_concept_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @employee_remunerative_concept.cantidad %>
</p>

<p>
  <b>Importe:</b>
  <%= @employee_remunerative_concept.importe %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @employee_remunerative_concept.fecha_inicio %>
</p>

<p>
  <b>Fecha final:</b>
  <%= @employee_remunerative_concept.fecha_final %>
</p>


<%= link_to 'Edit', edit_employee_remunerative_concept_path(@employee_remunerative_concept) %> |
<%= link_to 'Back', employee_remunerative_concepts_path %>
