%h1 Listado de Tipos de Cuenta Bancaria
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @bank_deposit_account_types.each do |bank_deposit_account_type|
    %tr
      %td= bank_deposit_account_type.detalle
      %td= link_to 'Visualizar', bank_deposit_account_type
      %td= link_to 'Editar', edit_bank_deposit_account_type_path(bank_deposit_account_type)
      %td= link_to 'Borrar', bank_deposit_account_type, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nuevo Tipo de Cuenta Bancaria', new_bank_deposit_account_type_path
