<h1>Listing my_images</h1>

<table>
  <tr>
    <th>detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_images.each do |my_image| %>
  <tr>
    <td><%= my_image.try(:detalle) %></td>
    <td><%= link_to 'Visualizar', my_image %></td>
    <td><%= link_to 'Editar', edit_my_image_path(my_image) %></td>
    <td><%= link_to 'Borrar', my_image, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo my_image', new_my_image_path %>
