= form_for(@user) do |f|
  = render 'shared/errorhandler', :obj_errors => @user.errors
  .clear
  .form_box
    .form_box_title
    /  %span.title= User.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :first_name, :class => "apsLabel"
        %td.columnData
          = f.text_field :first_name, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :last_name, :class => "apsLabel"
        %td.columnData
          = f.text_field :last_name, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :reset_password_token, :class => "apsLabel"
        %td.columnData
          = f.text_field :reset_password_token, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :reset_password_sent_at, :class => "apsLabel"
        %td.columnData
          = f.text_field :reset_password_sent_at, :value => @user.reset_password_sent_at.to_s, :class => "apsDatetime"
      %tr
        %td.columnLabel
          = f.label :remember_created_at, :class => "apsLabel"
        %td.columnData
          = f.text_field :remember_created_at, :value => @user.remember_created_at.to_s, :class => "apsDatetime"
      %tr
        %td.columnLabel
          = f.label :current_sign_in_at, :class => "apsLabel"
        %td.columnData
          = f.text_field :current_sign_in_at, :value => @user.current_sign_in_at.to_s, :class => "apsDatetime"
      %tr
        %td.columnLabel
          = f.label :last_sign_in_at, :class => "apsLabel"
        %td.columnData
          = f.text_field :last_sign_in_at, :value => @user.last_sign_in_at.to_s, :class => "apsDatetime"
      %tr
        %td.columnLabel
          = f.label :current_sign_in_ip, :class => "apsLabel"
        %td.columnData
          = f.text_field :current_sign_in_ip, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :last_sign_in_ip, :class => "apsLabel"
        %td.columnData
          = f.text_field :last_sign_in_ip, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
