- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item User.model_name.human, users_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => User.model_name.human).titlecase , new_user_path(@user), :class => "btn success" 
  - if @users.any?
    = link_to t('scaffold.actions.export').titlecase, users_path( :format => 'pdf'), :class => "btn info"

- if @users.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :first_name, @users.human_attribute_name('first_name')
      %th= sort_link @search, :last_name, @users.human_attribute_name('last_name')
      %th= sort_link @search, :email, @users.human_attribute_name('email')
      %th= sort_link @search, :encrypted_password, @users.human_attribute_name('encrypted_password')
      %th= sort_link @search, :current_sign_in_ip, @users.human_attribute_name('current_sign_in_ip')
      %th= sort_link @search, :last_sign_in_ip, @users.human_attribute_name('last_sign_in_ip')
      %th= sort_link @search, :sign_in_count, @users.human_attribute_name('sign_in_count')
      %th= sort_link @search, :current_sign_in_at, @users.human_attribute_name('current_sign_in_at')
      %th= sort_link @search, :last_sign_in_at, @users.human_attribute_name('last_sign_in_at')
      %th.last

    - @users.each do |item|
      %tr
        %td= item.first_name
        %td= item.last_name
        %td= item.email
        %td= item.encrypted_password
        %td= item.current_sign_in_ip
        %td= item.last_sign_in_ip
        %td= item.sign_in_count
        %td= item.current_sign_in_at
        %td= item.last_sign_in_at
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_user_path(item)
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete
    .clear
    .block{:style => 'margin:20px;'}= paginate(@users)
  .clear
.clear
