<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @employee_retention_concept.employee_id %>
</p>

<p>
  <b>Retention concept:</b>
  <%= @employee_retention_concept.retention_concept_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @employee_retention_concept.cantidad %>
</p>

<p>
  <b>Importe:</b>
  <%= @employee_retention_concept.importe %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @employee_retention_concept.fecha_inicio %>
</p>

<p>
  <b>Fecha final:</b>
  <%= @employee_retention_concept.fecha_final %>
</p>


<%= link_to 'Edit', edit_employee_retention_concept_path(@employee_retention_concept) %> |
<%= link_to 'Back', employee_retention_concepts_path %>
