- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item EmployeeRetentionConcept.model_name.human, employee_retention_concepts_path 
    - breadcrumb.item "#{@employee_retention_concept.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_employee_retention_concept_path(@employee_retention_concept), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @employee_retention_concept, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@employee_retention_concept) do |f|
  = render 'shared/errorhandler', :obj_errors => @employee_retention_concept.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :employee_id, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.employee_id
      %tr
        %td.columnLabel
          = f.label :retention_concept_id, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.retention_concept.try(:detalle)
      %tr
        %td.columnLabel
          = f.label :cantidad, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.cantidad
      %tr
        %td.columnLabel
          = f.label :importe, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.importe
      %tr
        %td.columnLabel
          = f.label :fecha_inicio, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.fecha_inicio
      %tr
        %td.columnLabel
          = f.label :fecha_final, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.fecha_final
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @employee_retention_concept.detalle
.clear
