= form_for(@group_retention) do |f|
  = render 'shared/errorhandler', :obj_errors => @group_retention.errors
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= GroupRetention.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
    %tr
      %td.columnLabel
        = f.label :composicion, :class => "apsLabel"
      %td.columnData
        = f.collection_select :retention_concept_ids, RetentionConcept.all, :id, :detalle, {}, :multiple => true, :class => "apsSelect"
  .actions
    = f.submit :class => "btn success"
