= form_for(@group_retention) do |f|
  - if @group_retention.errors.any?
    #error_explanation
      %h2
        = pluralize(@group_retention.errors.count, "error")
        prohibited this group_retention from being saved:
      %ul
        - @group_retention.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :detalle
    %br/
    = f.text_field :detalle
  .field
    %h3 Codigos de Retenciones
    .field
      = f.label :detalle
      %br/
      = f.collection_select :retention_concept_ids, RetentionConcept.all, :id, :detalle, {}, :multiple => true
  .actions
    = f.submit
