= form_for(@group_retention) do |f|
  - if @group_retention.errors.any?
    #error_explanation
      %h2
        = pluralize(@group_retention.errors.count, "error")
        prohibited this group_retention from being saved:
      %ul
        - @group_retention.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= GroupRetention.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
