<%= form_for(@group_retention) do |f| %>
  <% if @group_retention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_retention.errors.count, "error") %> prohibited this group_retention from being saved:</h2>

      <ul>
      <% @group_retention.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <h3>Codigos de Retenciones</h3>
    <div class="field">
      <%= f.label :detalle %><br />
      <%= f.collection_select :retention_concept_ids, RetentionConcept.all, :id, :detalle, {}, :multiple => true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
