<h1>Grupos de Retenciones</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :detalle, "Detalle" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for group_retention in @group_retentions %>
		<tr>
			<td><%= group_retention.detalle %></td>
            <td><a href="/group_retentions/<%= group_retention.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/group_retentions/<%= group_retention.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/group_retentions/<%= group_retention.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Grupo de Retencion", new_group_retention_path %></p>

<%= paginate @group_retentions %>
