- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item GroupRetention.model_name.human, group_retentions_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => GroupRetention.model_name.human).titlecase , new_group_retention_path(@group_retentions), :class => "btn success"
  - if @group_retentions.any?
    = link_to t('scaffold.actions.export').titlecase, group_retentions_path( :format => 'pdf'), :class => "btn info"

- if @group_retentions.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :code, @group_retentions.human_attribute_name('code')
      %th= sort_link @search, :detalle, @group_retentions.human_attribute_name('detalle')
      %th= sort_link @search, :default, @group_retentions.human_attribute_name('default')
      %th.last

    - @group_retentions.each do |item|
      %tr
        %td= item.code
        %td= item.detalle
        %td= item.default
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_group_retention_path(item)
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete
    .clear
    .block{:style => 'margin:20px;'}= paginate(@group_retentions)
  .clear
.clear
