<% if @menus.count > 0 %>
<div id="menu">
  <ul class="menu">
  <% @menus.select{|menu| menu[:parent_id] == nil }.each do |level0| %>
    <li><a class="parent" href="<%= (level0.link_url == "?" ? "/Home/MenuNavigation?id=" + level0.id.to_s : level0.link_url) %>"><span><%= level0.name %></span></a>
    <% if @menus.select{|menu| menu[:parent_id] == level0.id }.count > 0 %>
    <!-- SEGUNDO NIVEL -->
      <div><ul>
      <% @menus.select{|menu| menu[:parent_id] == level0.id }.map.each do |level1| %>
        <% if !level1.link_url.blank? %>
          <% if @menus.select{|menu| menu[:parent_id] == level1.id }.count == 0 %>
        <li><a href="<%= level1.link_url %>"><span><%= level1.name%></span></a></li>
          <% else %>
        <!-- TERCER NIVEL -->
        <li><a class="parent" href="<%= (level1.link_url == "?" ? "/Home/MenuNavigation?id=" + level1.id.to_s : level1.link_url) %>"><span><%= level1.name %></span></a>
          <div><ul>
            <% @menus.select{|menu| menu[:parent_id] == level1.id }.each do |level2| %>
              <% if !level2.link_url.blank? %>
                <% if @menus.select{|menu| menu[:parent_id] == level2.id }.count == 0 %>
                <!-- CUARTO NIVEL -->
            <li><a href="<%= level2.link_url %>"><%= level2.name %></a></li>
                <% else %>
            <li><a class="parent" href="<%= (level2.link_url.trim == "?" ? "/Home/MenuNavigation?id=" + level2.id.to_s : level2.link_url) %>"><span><%= level2.name %></span></a>
              <div><ul>
                  <% @menus.select{|menu| menu[:parent_id] == level2.id }.each do |level3| %>
                <li><a href="<%= level3.link_url %>"><%= level3.name %></a></li>
                  <% end %>
              </ul></div>
            </li>
                <% end %>
              <% end %>
            <% end %>
          </ul></div>
        </li>
          <% end %>
        <% end %>
      <% end %>
      </ul></div>
    <% end %>
    </li>
  <% end %>
  <!-- <li class="last"><a href="/"><span>LogOut</span></a></li> -->
  </ul>
</div>
<% end %>
