= form_for(@insurance_company) do |f|
  - if @insurance_company.errors.any?
    #error_explanation
      %h2
        = pluralize(@insurance_company.errors.count, "error")
        prohibited this insurance_company from being saved:
      %ul
        - @insurance_company.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= InsuranceCompany.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
