<h1>Listado de Aseguradoras</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insurance_companies.each do |insurance_company| %>
  <tr>
    <td><%= insurance_company.detalle %></td>
    <td><%= link_to 'Visualizar', insurance_company %></td>
    <td><%= link_to 'Editar', edit_insurance_company_path(insurance_company) %></td>
    <td><%= link_to 'Borrar', insurance_company, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Aseguradora', new_insurance_company_path %>
