- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item InsuranceCompany.model_name.human, insurance_companies_path 
    - breadcrumb.item "#{@insurance_company.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_insurance_company_path(@insurance_company), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @insurance_company, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@insurance_company) do |f|
  = render 'shared/errorhandler', :obj_errors => @insurance_company.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @insurance_company.code
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @insurance_company.detalle
      %tr
        %td.columnLabel
          = f.label :default, :class => "apsLabel"
        %td.columnData
          = check_box_tag "insurance_company_default", @insurance_company.default, @insurance_company.default, :disabled => true
.clear
