= form_for(@user_role) do |f|
  - if @user_role.errors.any?
    #error_explanation
      %h2
        = pluralize(@user_role.errors.count, "error")
        prohibited this user_role from being saved:
      %ul
        - @user_role.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= UserRole.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :user_id, :class => "apsLabel"
        %td.columnData
          = f.text_field :user_id, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :rol_id, :class => "apsLabel"
        %td.columnData
          = f.text_field :rol_id, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
