= form_for(@accounting_imputation) do |f|
  - if @accounting_imputation.errors.any?
    #error_explanation
      %h2
        = pluralize(@accounting_imputation.errors.count, "error")
        prohibited this accounting_imputation from being saved:
      %ul
        - @accounting_imputation.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= AccountingImputation.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
