= form_for(@accounting_imputation) do |f|
  - if @accounting_imputation.errors.any?
    #error_explanation
      %h2
        = pluralize(@accounting_imputation.errors.count, "error")
        prohibited this accounting_imputation from being saved:
      %ul
        - @accounting_imputation.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :detalle
    %br/
    = f.text_field :detalle
  .actions
    = f.submit
