<%= form_for(@accounting_imputation) do |f| %>
  <% if @accounting_imputation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting_imputation.errors.count, "error") %> prohibited this accounting_imputation from being saved:</h2>

      <ul>
      <% @accounting_imputation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
