- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item AccountingImputation.model_name.human, accounting_imputations_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => AccountingImputation.model_name.human) , new_accounting_imputation_path(@accounting_imputation), :class => "btn success" 
  - if @accounting_imputations.any?
    = link_to t('scaffold.actions.export').titlecase, "/print_table?tablename=" + AccountingImputation.model_name, :class => "btn info"

- if @accounting_imputations.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @accounting_imputations.human_attribute_name('detalle')
      %th= sort_link @search, :code, @accounting_imputations.human_attribute_name('code')
      %th= sort_link @search, :default, @accounting_imputations.human_attribute_name('default')
      %th.last

    - @accounting_imputations.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= check_box_tag "accounting_imputation_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_accounting_imputation_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@accounting_imputations)
  .clear
.clear
