- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Section.model_name.human, sections_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Section.model_name.human) , new_section_path(@section), :class => "btn success" 
  - if @sections.any?
    = link_to t('scaffold.actions.export').titlecase, sections_path( :format => 'pdf'), :class => "btn info"

- if @sections.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @sections.human_attribute_name('detalle')
      %th= sort_link @search, :code, @sections.human_attribute_name('code')
      %th= sort_link @search, :default, @sections.human_attribute_name('default')
      %th.last

    - @sections.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= check_box_tag "section_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_section_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@sections)
  .clear
.clear
