- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Section.model_name.human, sections_path 
    - breadcrumb.item "#{@section.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_section_path(@section), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @section, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@section) do |f|
  = render 'shared/errorhandler', :obj_errors => @section.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @section.detalle
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @section.code
.clear
