%h1 Listado de Bancos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @bank_deposits.each do |bank_deposit|
    %tr
      %td= bank_deposit.detalle
      %td= link_to 'Visualizar', bank_deposit
      %td= link_to 'Editar', edit_bank_deposit_path(bank_deposit)
      %td= link_to 'Borrar', bank_deposit, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nuevo Banco', new_bank_deposit_path
