<h1>Listado de Bancos</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bank_deposits.each do |bank_deposit| %>
  <tr>
    <td><%= bank_deposit.detalle %></td>
    <td><%= link_to 'Visualizar', bank_deposit %></td>
    <td><%= link_to 'Editar', edit_bank_deposit_path(bank_deposit) %></td>
    <td><%= link_to 'Borrar', bank_deposit, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Banco', new_bank_deposit_path %>
