<h1>Bancos</h1>

<%= paginate @bank_deposits %>

<table class="tableStandard">
  <tr>
    <th><%= sort_link @search, :detalle, BankDeposit.human_attribute_name('detalle') %></th>
    <th colspan='4' style="text-align:center;">Acciones</th>
  </tr>
  <% for bank_deposit in @bank_deposits %>
    <tr>
      <td><%= bank_deposit.detalle %></td>
      <td>
	    <a href="/bank_deposits/<%= bank_deposit.id.to_s %>">
          <img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" />
        </a>
      </td>
      <td>
	    <a href="/bank_deposits/<%= bank_deposit.id.to_s %>/edit">
          <img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" />
        </a>
      </td>
      <td>
	    <a href="/bank_deposits/<%= bank_deposit.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
          <img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" />
        </a>
      </td>
      <td>
	    <a href="/bank_deposits/<%= bank_deposit.id.to_s %>.pdf">
		  <img alt="ficha Pdf" src="images/icons/16x16/application_get.png" title="ficha Pdf" />
		</a>
      </td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to "Nuevo Banco", new_bank_deposit_path %> | 
  <%= link_to "Imprimir lista", bank_deposits_path(:format => 'pdf') %></p>
</p>

<%= paginate @bank_deposits %>
