- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item BankDeposit.model_name.human, bank_deposits_path 
    - breadcrumb.item "#{@bank_deposit.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_bank_deposit_path(@bank_deposit), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @bank_deposit, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@bank_deposit) do |f|
  = render 'shared/errorhandler', :obj_errors => @bank_deposit.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @bank_deposit.code
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @bank_deposit.detalle
      %tr
        %td.columnLabel
          = f.label :default, :class => "apsLabel"
        %td.columnData
          = check_box_tag "bank_deposit_default", @bank_deposit.default, @bank_deposit.default, :disabled => true
.clear
