<%= form_for @document_type do |f| %>
	<% if @document_type.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@document_type.errors.count, "error") %> prohibido guardar Tipo de Documento:</h2>
			<ul>
			<% @document_type.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :detalle %></strong></td>
			<td style="width:70%">
				<%= f.text_field :detalle %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
