= form_for(@document_type) do |f|
  - if @document_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@document_type.errors.count, "error")
        prohibited this document_type from being saved:
      %ul
        - @document_type.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= DocumentType.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
