- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item DocumentType.model_name.human, document_types_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => DocumentType.model_name.human) , new_document_type_path(@document_type), :class => "btn success" 
  - if @document_types.any?
    = link_to t('scaffold.actions.export').titlecase, "/print_table?tablename=" + DocumentType.model_name, :class => "btn info"

- if @document_types.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @document_types.human_attribute_name('detalle')
      %th= sort_link @search, :code, @document_types.human_attribute_name('code')
      %th= sort_link @search, :default, @document_types.human_attribute_name('default')
      %th.last

    - @document_types.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= check_box_tag "document_type_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_document_type_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@document_types)
  .clear
.clear
