%h1 Listado de Tipo de Documentos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @document_types.each do |document_type|
    %tr
      %td= document_type.detalle
      %td= link_to 'Visualizar', document_type
      %td= link_to 'Editar', edit_document_type_path(document_type)
      %td= link_to 'Borrar', document_type, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nuevo Tipo de Documento', new_document_type_path
