<%= form_for @recibo_sueldo do |f| %>
	<% if @recibo_sueldo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@recibo_sueldo.errors.count, "error") %> prohibido guardar Recibo de Sueldo:</h2>
			<ul>
			<% @recibo_sueldo.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :liquidacion_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :liquidacion_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :employee_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :employee_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :fecha_recibo %></strong></td>
			<td style="width:70%">
				<%= f.text_field :fecha_recibo, {:class => "dtPicker"} %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :observaciones %></strong></td>
			<td style="width:70%">
				<%= f.text_field :observaciones %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :mensaje_recibo %></strong></td>
			<td style="width:70%">
				<%= f.text_field :mensaje_recibo %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
