<%= form_for([@liquidacion,@recibo_sueldo]) do |f| %>
  <% if @recibo_sueldo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recibo_sueldo.errors.count, "error") %> prohibited this recibo_sueldo from being saved:</h2>

      <ul>
      <% @recibo_sueldo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Liquidacion Periodo: <%= @liquidacion.periodo %> Quincena: <%= @liquidacion.quincena%> Tipo liquidacion: <%=@liquidacion.tipo_recibo.try(:detalle)%></h3>
  <% if @recibo_sueldo.new_record? %>
    <div class="field">
        <%= f.label :employee_id %><br />
        <%= f.collection_select :employee_id, Employee.all, :id, :full_name , :prompt => true %>
    </div>
  <% else %>
    <h4>Empleado: <%@recibo_sueldo.employee.apellido %>, <%= @recibo_sueldo.employee.nombre %> </h4>
  <% end %>
   <table class="field">

   <tr>
     <th><%= f.label "Fecha Recibo" %></th>
     <th><%= f.label "Observaciones" %></th>
     <th><%= f.label "Mensaje Recibo" %></th>
   <tr>
   <tr>
     <td><%= f.date_select :fecha_recibo %></td>
     <td><%= f.text_field :observaciones %></td>
     <td><%= f.text_field :mensaje_recibo %></td>
   </tr>
   </table>

<!--
  <div class="field">
    <%= f.label :fecha_recibo %><br />
    <%= f.date_select :fecha_recibo %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_field :observaciones %>
  </div>
  <div class="field">
    <%= f.label :mensaje_recibo %><br />
    <%= f.text_field :mensaje_recibo %>
  </div>
-->
  <% if @recibo_sueldo.persisted? %>

    <div class="field">
      <h3>Haberes</h3>
      <div id="detalle_recibo_haber">
        <table class="field">
          <tr>
             <th><%= f.label "Concepto Retencion" %></th>
             <th><%= f.label "Detalle Personalizado" %></th>
             <th><%= f.label "Centro Costo" %></th>
             <th><%= f.label "Cantidad" %></th>
             <th><%= f.label "Importe" %></th>
             <th>&nbsp;</th>
          </tr>
          <%= f.fields_for :detalle_recibo_habers do |drh| %>
            <%= render 'detalle_recibo_haber_fields', :f => drh %>
          <% end %>
        </table>
        <div class="links">
          <%= link_to_add_association 'Agregar Haber', f, :detalle_recibo_habers %>
        </div>
      </div>
    </div>

    <div class="field">
      <h3>Retenciones</h3>
      <div id="detalle_recibo_retencion">
        <table class="field">
          <tr>
             <th><%= f.label "Concepto Retencion" %></th>
             <th><%= f.label "Detalle Personalizado" %></th>
             <th><%= f.label "Cantidad" %></th>
             <th><%= f.label "Importe" %></th>
             <th>&nbsp;</th>
          </tr>
          <%= f.fields_for :detalle_recibo_retencions do |drh| %>
            <%= render 'detalle_recibo_retencion_fields', :f => drh %>
          <% end %>
        </table>
        <div class="links">
          <%= link_to_add_association 'Agregar retencion', f, :detalle_recibo_retencions %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
