<h1>Empleados con Novedades Informadas</h1>

<table>
  <tr>
    <th>Liquidacion</th>
    <th>Employee</th>
    <th>Fecha recibo</th>
    <th>Observaciones</th>
    <th>Mensaje recibo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recibo_sueldos.each do |recibo_sueldo| %>
  <tr>
    <td><%= recibo_sueldo.liquidacion_id %></td>
    <td><%= recibo_sueldo.employee.try(:full_name) %></td>
    <td><%= recibo_sueldo.fecha_recibo %></td>
    <td><%= recibo_sueldo.observaciones %></td>
    <td><%= recibo_sueldo.mensaje_recibo %></td>
    <td><%= link_to 'Visualzar', [@liquidacion, recibo_sueldo] %></td>
    <td><%= link_to 'Editar', edit_liquidacion_recibo_sueldo_path(@liquidacion,recibo_sueldo) %></td>
    <td><%= link_to 'Borrar', [@liquidacion, recibo_sueldo], :confirm => 'Esta Seguro?', :method => :delete %></td>
    <td><%= link_to 'Calcular', calculo_recibo_liquidacion_recibo_sueldo_path(@liquidacion,recibo_sueldo.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Informar nuevo empleado', new_liquidacion_recibo_sueldo_path(@liquidacion) %> |
<%= link_to 'Volver', liquidacion_path(@liquidacion) %> |

