<h3>Liquidacion Periodo: <%= @liquidacion.periodo %> Quincena: <%= @liquidacion.quincena%> Tipo liquidacion: <%=@liquidacion.tipo_recibo.try(:detalle)%></h3>
<h4>Empleado: <%= @recibo_sueldo.employee.apellido %>, <%= @recibo_sueldo.employee.nombre %> </h4>

<p id="notice"><%= notice %></p>

<p>
  <b>Fecha recibo:</b>
  <%= @recibo_sueldo.fecha_recibo %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @recibo_sueldo.observaciones %>
</p>

<p>
  <b>Mensaje recibo:</b>
  <%= @recibo_sueldo.mensaje_recibo %>
</p>


<%= link_to 'Editar', edit_liquidacion_recibo_sueldo_path(@liquidacion,@recibo_sueldo) %> |
<%= link_to 'Volver', liquidacion_recibo_sueldos_path %>
