- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Liquidacion.model_name.human, liquidacions_path
    - breadcrumb.item ReciboSueldo.model_name.human, liquidacion_recibo_sueldos_path , :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_liquidacion_recibo_sueldo_path(@recibo_sueldo), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, [@liquidacion, @recibo_sueldo], :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
= link_to 'Recibo',  liquidacion_recibo_sueldo_path(@liquidacion,@recibo_sueldo, :format => 'pdf'), :class => "btn standard"
.clear
%br/
%h3
  Liquidacion Periodo: #{@liquidacion.periodo.year} / #{@liquidacion.periodo.month} Quincena: #{@liquidacion.quincena} Tipo liquidacion: #{@liquidacion.tipo_recibo.try(:detalle)}
= form_for([@liquidacion,@recibo_sueldo]) do |f|
  - if @recibo_sueldo.errors.any?
    #error_explanation
      %h2
        = pluralize(@recibo_sueldo.errors.count, "error")
        prohibited this recibo_sueldo from being saved:
      %ul
        - @recibo_sueldo.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :employee_id, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.employee.full_name
    %tr
      %td.columnLabel
        = f.label :fecha_recibo, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.fecha_recibo
    %tr
      %td.columnLabel
        = f.label :observaciones, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.observaciones
    %tr
      %td.columnLabel
        = f.label :mensaje_recibo, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.mensaje_recibo
.clear
