- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item ReciboSueldo.model_name.human, recibo_sueldos_path , :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_recibo_sueldo_path(@recibo_sueldo), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @recibo_sueldo, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@recibo_sueldo) do |f|
  - if @recibo_sueldo.errors.any?
    #error_explanation
      %h2
        = pluralize(@recibo_sueldo.errors.count, "error")
        prohibited this recibo_sueldo from being saved:
      %ul
        - @recibo_sueldo.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :liquidacion_id, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.liquidacion_id
    %tr
      %td.columnLabel
        = f.label :employee_id, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.employee_id
    %tr
      %td.columnLabel
        = f.label :fecha_recibo, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.fecha_recibo
    %tr
      %td.columnLabel
        = f.label :observaciones, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.observaciones
    %tr
      %td.columnLabel
        = f.label :mensaje_recibo, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.mensaje_recibo
    %tr
      %td.columnLabel
        = f.label :fecha_calculo, :class => "apsLabel"
      %td.columnData
        = @recibo_sueldo.fecha_calculo
.clear
