= form_for(@group_retentions_retention_concept) do |f|
  - if @group_retentions_retention_concept.errors.any?
    #error_explanation
      %h2
        = pluralize(@group_retentions_retention_concept.errors.count, "error")
        prohibited this group_retentions_retention_concept from being saved:
      %ul
        - @group_retentions_retention_concept.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    /.form_box_title
    /  %span.title= GroupRetentionsRetentionConcept.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :group_retention_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :group_retention_id, GroupRetention.all, :id, :detalle, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :retention_concept_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :retention_concept_id, RetentionConcept.all, :id, :detalle, {:class => "apsSelect"}
  .actions
    = f.submit :class => "btn success"
