<%= form_for @group_retentions_retention_concept do |f| %>
	<% if @group_retentions_retention_concept.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@group_retentions_retention_concept.errors.count, "error") %> prohibido guardar Group Retentions Retention Concept:</h2>
			<ul>
			<% @group_retentions_retention_concept.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :group_retention_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :group_retention_id, GroupRetention.all, :id, :detalle, :include_blank => 'Sin datos' %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :retention_concept_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :retention_concept_id, RetentionConcept.all, :id, :detalle, :include_blank => 'Sin datos' %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
