<h1>Group Retentions Retention Concepts</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :group_retention_id, "Group Retention" %></td>
		<th><%= sort_link @search, :retention_concept_id, "Retention Concept" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for group_retentions_retention_concept in @group_retentions_retention_concepts %>
		<tr>
			<td><%= group_retentions_retention_concept.group_retention_id %></td>
			<td><%= group_retentions_retention_concept.retention_concept_id %></td>
            <td><a href="/group_retentions_retention_concepts/<%= group_retentions_retention_concept.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/group_retentions_retention_concepts/<%= group_retentions_retention_concept.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/group_retentions_retention_concepts/<%= group_retentions_retention_concept.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Group Retentions Retention Concept", new_group_retentions_retention_concept_path %></p>

<%= paginate @group_retentions_retention_concepts %>
