<h1>Group Retentions Retention Concept</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Group Retention:</strong></td>
		<td style="width:70%"><%= @group_retentions_retention_concept.group_retention_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Retention Concept:</strong></td>
		<td style="width:70%"><%= @group_retentions_retention_concept.retention_concept_id %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_group_retentions_retention_concept_path(@group_retentions_retention_concept) %> |
	<%= link_to "Eliminar", @group_retentions_retention_concept, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Group Retentions Retention Concepts", group_retentions_retention_concepts_path %>
</p>
