<%= form_for(@group_remuneration) do |f| %>
  <% if @group_remuneration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_remuneration.errors.count, "error") %> prohibited this group_remuneration from being saved:</h2>

      <ul>
      <% @group_remuneration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>

    <div class="field">
      <h3>Codigos de Remuneraciones</h3>
      <div class="field">
        <%= f.label :detalle %><br />
        <%= f.collection_select :remunerative_concept_ids, RemunerativeConcept.all, :id, :detalle, {}, :multiple => true %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
