<%= form_for(@group_remuneration) do |f| %>
  <% if @group_remuneration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_remuneration.errors.count, "error") %> prohibited this group_remuneration from being saved:</h2>

      <ul>
      <% @group_remuneration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>

    <div class="field">
      <h3>Codigos de Remuneraciones</h3>
      <div id="group_remuneration_relation">
        <%= f.fields_for :group_remuneration_relations do |group_remuneration_relation| %>
          <%= render 'group_remuneration_relation_fields', :f => group_remuneration_relation %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Agregar Remuneracion', f, :group_remuneration_relation %>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
