= form_for(@group_remuneration) do |f|
  - if @group_remuneration.errors.any?
    #error_explanation
      %h2
        = pluralize(@group_remuneration.errors.count, "error")
        prohibited this group_remuneration from being saved:
      %ul
        - @group_remuneration.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= GroupRemuneration.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
    %tr
      %td.columnLabel
        = f.label :composicion, :class => "apsLabel"
      %td.columnData
        = f.collection_select :remunerative_concept_ids, RemunerativeConcept.all, :id, :detalle, {}, :multiple => true, :class => "apsSelect"
  .actions
    = f.submit :class => "btn success"

