<h1>Listing group_remunerations</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_remunerations.each do |group_remuneration| %>
  <tr>
    <td><%= group_remuneration.detalle %></td>
    <td><%= link_to 'Show', group_remuneration %></td>
    <td><%= link_to 'Edit', edit_group_remuneration_path(group_remuneration) %></td>
    <td><%= link_to 'Destroy', group_remuneration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group remuneration', new_group_remuneration_path %>
