<%= form_for(@remunerative_concept) do |f| %>
  <% if @remunerative_concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remunerative_concept.errors.count, "error") %> prohibited this remunerative_concept from being saved:</h2>

      <ul>
      <% @remunerative_concept.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <%= f.label :porcentual_asistencia %><br />
    <%= f.check_box :porcentual_asistencia %>
  </div>
  <div class="field">
    <%= f.label :prioridad_calculo %><br />
    <%= f.text_field :prioridad_calculo %>
  </div>
    <div class="field">
      <%= f.label "data_to_ask" %><br />
      <%= f.collection_select :data_to_ask_id, DataToAsk.all, :id, :detalle, :prompt => true %>
    </div>
  <div class="field">
    <%= f.label :calculo_cantidad %><br />
    <%= f.text_field :calculo_cantidad %>
  </div>
  <div class="field">
    <%= f.label :calculo_valor %><br />
    <%= f.text_field :calculo_valor %>
  </div>

  <div class="field">
    <%= f.label :statistical_value %><br />
    <%= f.text_field :statistical_value %>
  </div>
  <div class="field">
    <%= f.label :acumuladores_valor %><br />
    <%= f.text_field :acumuladores_valor %>
  </div>
  <div class="field">
    <%= f.label :acumuladores_cantidad %><br />
    <%= f.text_field :acumuladores_cantidad %>
  </div>
  <div class="field">
    <%= f.label :grupo_ganancias_id %><br />
    <%= f.text_field :grupo_ganancias_id %>
  </div>
  <div class="field">
    <%= f.label :accounting_imputation_id %><br />
    <%= f.text_field :accounting_imputation_id %>
  </div>

<% [:concepto_asociado_haber, :concepto_asociado_haber_2].each do |field| %>
  <div class="field">
    <%= f.label field %><br />
    <%= f.collection_select("#{field}_id", @remunerative_concept.all_without_myself, :id, :detalle, :prompt => "-- elija un codigo de #{field.to_s.humanize} --") %>
  </div>
<% end unless RemunerativeConcept.count.zero? %>

<% [:concepto_asociado_retencion, :concepto_asociado_retencion_2].each do |field| %>
  <div class="field">
    <%= f.label field %><br />
    <%= f.collection_select("#{field}_id", RetentionConcept.all, :id, :detalle, :prompt => "-- elija un codigo de #{field.to_s.humanize} --") %>
  </div>
<% end unless RetentionConcept.count.zero? %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
