<%= form_for(@remunerative_concept) do |f| %>
  <% if @remunerative_concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remunerative_concept.errors.count, "error") %> prohibited this remunerative_concept from being saved:</h2>

      <ul>
      <% @remunerative_concept.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <%= f.label :calculation_type %><br />
    <%= f.text_field :calculation_type %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :porcentual_asistencia %><br />
    <%= f.check_box :porcentual_asistencia %>
  </div>
  <div class="field">
    <%= f.label :base_calculo %><br />
    <%= f.text_field :base_calculo %>
  </div>
  <div class="field">
    <%= f.label :prioridad_calculo %><br />
    <%= f.text_field :prioridad_calculo %>
  </div>
  <div class="field">
    <%= f.label :pide_datos %><br />
    <%= f.check_box :pide_datos %>
  </div>
  <div class="field">
    <%= f.label :statistical_value %><br />
    <%= f.text_field :statistical_value %>
  </div>
  <div class="field">
    <%= f.label :acumulador_cantidad %><br />
    <%= f.text_field :acumulador_cantidad %>
  </div>
  <div class="field">
    <%= f.label :grupo_ganancias_id %><br />
    <%= f.text_field :grupo_ganancias_id %>
  </div>
  <div class="field">
    <%= f.label :accounting_imputation_id %><br />
    <%= f.text_field :accounting_imputation_id %>
  </div>

  <div class="field">
    <%= f.label :concepto_asociado_haber %><br />
    <%= f.text_field :concepto_asociado_haber %>
  </div>
  <div class="field">
    <%= f.label :concepto_asociado_retencion %><br />
    <%= f.text_field :concepto_asociado_retencion %>
  </div>
  <div class="field">
    <%= f.label :concepto_asociado_haber_2 %><br />
    <%= f.text_field :concepto_asociado_haber_2 %>
  </div>
  <div class="field">
    <%= f.label :concepto_asociado_retencion_2 %><br />
    <%= f.text_field :concepto_asociado_retencion_2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
