= form_for(@remunerative_concept) do |f|
  - if @remunerative_concept.errors.any?
    #error_explanation
      %h2
        = pluralize(@remunerative_concept.errors.count, "error")
        prohibited this remunerative_concept from being saved:
      %ul
        - @remunerative_concept.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :codigo
    %br/
    = f.text_field :codigo
  .field
    = f.label :detalle
    %br/
    = f.text_field :detalle
  .field
    = f.label :porcentual_asistencia
    %br/
    = f.check_box :porcentual_asistencia
  .field
    = f.label :prioridad_calculo
    %br/
    = f.text_field :prioridad_calculo
  .field
    = f.label "data_to_ask"
    %br/
    = f.collection_select :data_to_ask_id, DataToAsk.all, :id, :detalle, :prompt => true
  .field
    = f.label :calculo_cantidad
    %br/
    = f.text_field :calculo_cantidad
  .field
    = f.label :calculo_valor
    %br/
    = f.text_field :calculo_valor
  .field
    = f.label :statistical_value
    %br/
    = f.text_field :statistical_value
  .field
    = f.label :acumuladores_valor
    %br/
    = f.text_field :acumuladores_valor
  .field
    = f.label :acumuladores_cantidad
    %br/
    = f.text_field :acumuladores_cantidad
  .field
    = f.label :grupo_ganancias_id
    %br/
    = f.text_field :grupo_ganancias_id
  .field
    = f.label :accounting_imputation_id
    %br/
    = f.text_field :accounting_imputation_id
  - [:concepto_asociado_haber, :concepto_asociado_haber_2].each do |field|
    .field
      = f.label field
      %br/
      = f.collection_select("#{field}_id", @remunerative_concept.all_without_myself, :id, :detalle, {:include_blank => "-- elija un codigo de #{field.to_s.humanize} --"})
  - end unless RemunerativeConcept.count.zero?
  - [:concepto_asociado_retencion, :concepto_asociado_retencion_2].each do |field|
    .field
      = f.label field
      %br/
      = f.collection_select("#{field}_id", RetentionConcept.all, :id, :detalle, {:include_blank => "-- elija un codigo de #{field.to_s.humanize} --"})
  - end unless RetentionConcept.count.zero?
  .actions
    = f.submit
