<%= form_for @remunerative_concept do |f| %>
	<% if @remunerative_concept.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@remunerative_concept.errors.count, "error") %> prohibido guardar Codigo de Haber:</h2>
			<ul>
			<% @remunerative_concept.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :codigo %></strong></td>
			<td style="width:70%">
				<%= f.text_field :codigo %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :detalle %></strong></td>
			<td style="width:70%">
				<%= f.text_field :detalle %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :porcentual_asistencia %></strong></td>
			<td style="width:70%">
				<%= f.check_box :porcentual_asistencia %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :prioridad_calculo %></strong></td>
			<td style="width:70%">
				<%= f.text_field :prioridad_calculo %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :statistical_value %></strong></td>
			<td style="width:70%">
				<%= f.text_field :statistical_value %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :grupo_ganancias_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :grupo_ganancias_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :accounting_imputation_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :accounting_imputation_id, AccountingImputation.all, :id, :detalle, :include_blank => 'Sin datos' %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :concepto_asociado_haber_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :concepto_asociado_haber_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :concepto_asociado_retencion_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :concepto_asociado_retencion_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :concepto_asociado_haber_2_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :concepto_asociado_haber_2_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :concepto_asociado_retencion_2_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :concepto_asociado_retencion_2_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :acumuladores_valor %></strong></td>
			<td style="width:70%">
				<%= f.text_field :acumuladores_valor %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :acumuladores_cantidad %></strong></td>
			<td style="width:70%">
				<%= f.text_field :acumuladores_cantidad %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :calculo_valor %></strong></td>
			<td style="width:70%">
				<%= f.text_field :calculo_valor %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :calculo_cantidad %></strong></td>
			<td style="width:70%">
				<%= f.text_field :calculo_cantidad %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :data_to_ask_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :data_to_ask_id, DataToAsk.all, :id, :detalle, :include_blank => 'Sin datos' %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :cantidad_en_recibo %></strong></td>
			<td style="width:70%">
				<%= f.text_field :cantidad_en_recibo %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
