<h1>Codigos de Haberes</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :codigo, "Codigo" %></td>
		<th><%= sort_link @search, :detalle, "Detalle" %></td>
		<th>Porcentual Asistencia</th>
		<th><%= sort_link @search, :prioridad_calculo, "Prioridad Calculo" %></td>
		<th><%= sort_link @search, :statistical_value, "Auxiliar" %></td>
		<th><%= sort_link @search, :grupo_ganancias_id, "Grupo Ganancias" %></td>
		<th><%= sort_link @search, :accounting_imputation_id, "Accounting Imputation" %></td>
		<th><%= sort_link @search, :concepto_asociado_haber_id, "Concepto Asociado Haber" %></td>
		<th><%= sort_link @search, :concepto_asociado_retencion_id, "Concepto Asociado Retencion" %></td>
		<th><%= sort_link @search, :concepto_asociado_haber_2_id, "Concepto Asociado Haber 2" %></td>
		<th><%= sort_link @search, :concepto_asociado_retencion_2_id, "Concepto Asociado Retencion 2" %></td>
		<th><%= sort_link @search, :acumuladores_valor, "Acumuladores Valor" %></td>
		<th><%= sort_link @search, :acumuladores_cantidad, "Acumuladores Cantidad" %></td>
		<th><%= sort_link @search, :calculo_valor, "Calculo Valor" %></td>
		<th><%= sort_link @search, :calculo_cantidad, "Calculo Cantidad" %></td>
		<th><%= sort_link @search, :data_to_ask_id, "Data To Ask" %></td>
		<th><%= sort_link @search, :cantidad_en_recibo, "Cantidad En Recibo" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for remunerative_concept in @remunerative_concepts %>
		<tr>
			<td><%= remunerative_concept.codigo %></td>
			<td><%= remunerative_concept.detalle %></td>
			<td><%= check_box_tag "remunerative_concept_auxiliar", remunerative_concept.auxiliar, remunerative_concept.auxiliar, :disabled => true %></td>
			<td><%= remunerative_concept.prioridad_calculo %></td>
            <td><%= remunerative_concept.statistical_value %></td>
			<td><%= remunerative_concept.grupo_ganancias_id %></td>
			<td><%= remunerative_concept.accounting_imputation_id %></td>
			<td><%= remunerative_concept.concepto_asociado_haber_id %></td>
			<td><%= remunerative_concept.concepto_asociado_retencion_id %></td>
			<td><%= remunerative_concept.concepto_asociado_haber_2_id %></td>
			<td><%= remunerative_concept.concepto_asociado_retencion_2_id %></td>
			<td><%= remunerative_concept.acumuladores_valor %></td>
			<td><%= remunerative_concept.acumuladores_cantidad %></td>
			<td><%= remunerative_concept.calculo_valor %></td>
			<td><%= remunerative_concept.calculo_cantidad %></td>
			<td><%= remunerative_concept.data_to_ask_id %></td>
			<td><%= remunerative_concept.cantidad_en_recibo %></td>
            <td><a href="/remunerative_concepts/<%= remunerative_concept.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/remunerative_concepts/<%= remunerative_concept.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/remunerative_concepts/<%= remunerative_concept.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Codigo de Haber", new_remunerative_concept_path %></p>

<%= paginate @remunerative_concepts %>
