-#
  Se pueden usar todos estos finales de nombre de campos para que haga el filtro para el campo X de forma
  X_filtro

  la docu general de todo esto esta en http://metautonomo.us/projects/metasearch/

  "equals",
  "eq",
  "does_not_equal",
  "ne",
  "not_eq",
  "contains",
  "like",
  "matches",
  "does_not_contain",
  "nlike",
  "not_matches",
  "starts_with",
  "sw",
  "does_not_start_with",
  "dnsw",
  "ends_with",
  "ew",
  "does_not_end_with",
  "dnew",
  "greater_than",
  "gt",
  "less_than",
  "lt",
  "greater_than_or_equal_to",
  "gte",
  "gteq",
  "less_than_or_equal_to",
  "lte",
  "lteq",
  "in",
  "not_in",
  "ni",
  "not_in",
  "is_true",
  "is_false",
  "is_present",
  "is_blank",
  "is_null",
  "is_not_null"

- content_for(:sidebar) do
  .block
    Hola mundo
  .block
    = render('shared/sidebar')

- content_for(:controls) do
  = controls do |control|
    - control.item  'Nuevo Concepto Remunerativo', new_remunerative_concept_path, :icon=> 'add'


%h1 Listing remunerative_concepts
= form_for @search do |f|
  = f.label :codigo_contains
  = f.text_field :codigo_contains
  %br
  = f.label :prioridad_calculo_greater_than
  = f.select :prioridad_calculo_greater_than,  1..100, { :include_blank => true }
  %br
  =# f.label :comments_created_at_greater_than, 'With comments after'
  =# f.datetime_select :comments_created_at_greater_than, :include_blank => true
  %br
  = f.submit

= paginate @remunerative_concepts

%table.table
  %tr
    %th= sort_link @search, :codigo, "Codiguito"
    %th= sort_link @search, :detalle
    %th= sort_link @search, :porcentual_asistencia, "% Asis"
    %th Prioridad calculot
    %th Datos a Pedir
    %th Statistical value
    %th Grupo ganancias
    %th Accounting imputation
    %th Concepto asociado haber
    %th Concepto asociado retencion
    %th Concepto asociado haber 2
    %th Concepto asociado retencion 2
    %th
    %th
    %th
  - @remunerative_concepts.each do |remunerative_concept|
    %tr
      %td= remunerative_concept.codigo
      %td= remunerative_concept.detalle
      %td= remunerative_concept.porcentual_asistencia? ? 'si' : 'no'
      %td= remunerative_concept.prioridad_calculo
      %td= remunerative_concept.data_to_ask.try(:detalle)
      %td= remunerative_concept.statistical_value
      %td= remunerative_concept.grupo_ganancias_id
      %td= remunerative_concept.accounting_imputation_id
      %td= remunerative_concept.concepto_asociado_haber
      %td= remunerative_concept.concepto_asociado_retencion
      %td= remunerative_concept.concepto_asociado_haber_2
      %td= remunerative_concept.concepto_asociado_retencion_2
      %td= remunerative_concept_links(remunerative_concept)

.clear
= paginate @remunerative_concepts
.clear

%br/

.clear
