- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item RemunerativeConcept.model_name.human, remunerative_concepts_path 
    - breadcrumb.item "#{@remunerative_concept.detalle.titlecase}", remunerative_concept_path(@remunerative_concept), :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_remunerative_concept_path(@remunerative_concept), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @remunerative_concept, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@remunerative_concept) do |f|
  - if @remunerative_concept.errors.any?
    #error_explanation
      %h2
        = pluralize(@remunerative_concept.errors.count, "error")
        prohibited this remunerative_concept from being saved:
      %ul
        - @remunerative_concept.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :codigo, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.codigo
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.detalle
    %tr
      %td.columnLabel
        = f.label :porcentual_asistencia, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.porcentual_asistencia
    %tr
      %td.columnLabel
        = f.label :prioridad_calculo, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.prioridad_calculo
    %tr
      %td.columnLabel
        = f.label :statistical_value, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.statistical_value
    %tr
      %td.columnLabel
        = f.label :grupo_ganancias_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.grupo_ganancias_id
    %tr
      %td.columnLabel
        = f.label :accounting_imputation_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.accounting_imputation.detalle
    %tr
      %td.columnLabel
        = f.label :concepto_asociado_haber_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.concepto_asociado_haber_id
    %tr
      %td.columnLabel
        = f.label :concepto_asociado_retencion_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.concepto_asociado_retencion_id
    %tr
      %td.columnLabel
        = f.label :concepto_asociado_haber_2_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.concepto_asociado_haber_2_id
    %tr
      %td.columnLabel
        = f.label :concepto_asociado_retencion_2_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.concepto_asociado_retencion_2_id
    %tr
      %td.columnLabel
        = f.label :acumuladores_valor, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.acumuladores_valor
    %tr
      %td.columnLabel
        = f.label :acumuladores_cantidad, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.acumuladores_cantidad
    %tr
      %td.columnLabel
        = f.label :calculo_valor, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.calculo_valor
    %tr
      %td.columnLabel
        = f.label :calculo_cantidad, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.calculo_cantidad
    %tr
      %td.columnLabel
        = f.label :data_to_ask_id, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.data_to_ask.detalle
    %tr
      %td.columnLabel
        = f.label :cantidad_en_recibo, :class => "apsLabel"
      %td.columnData
        = @remunerative_concept.cantidad_en_recibo
.clear
