<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @remunerative_concept.codigo %>
</p>

<p>
  <b>Detalle:</b>
  <%= @remunerative_concept.detalle %>
</p>

<p>
  <b>Porcentual asistencia:</b>
  <%= @remunerative_concept.porcentual_asistencia %>
</p>

<p>
  <b>Prioridad Calculo:</b>
  <%= @remunerative_concept.prioridad_calculo %>
</p>

<p>
  <b>Datos a Pedir:</b>
  <%= @remunerative_concept.data_to_ask_id %>
</p>

<p>
  <b>Formula Calculo Cantidad:</b>
  <%= @remunerative_concept.calculo_cantidad %>
</p>

<p>
  <b>Formula Calculo Valor:</b>
  <%= @remunerative_concept.calculo_valor %>
</p>

<p>
  <b>Statistical value:</b>
  <%= @remunerative_concept.statistical_value %>
</p>

<p>
  <b>Acumuladores Valor:</b>
  <%= @remunerative_concept.acumuladores_valor %>
</p>

<p>
  <b>Acumuladores cantidad:</b>
  <%= @remunerative_concept.acumuladores_cantidad %>
</p>

<p>
  <b>Grupo ganancias:</b>
  <%= @remunerative_concept.grupo_ganancias_id %>
</p>

<p>
  <b>Accounting imputation:</b>
  <%= @remunerative_concept.accounting_imputation_id %>
</p>

<p>
  <b>Concepto asociado haber:</b>
  <%= @remunerative_concept.concepto_asociado_haber %>
</p>

<p>
  <b>Concepto asociado retencion:</b>
  <%= @remunerative_concept.concepto_asociado_retencion %>
</p>

<p>
  <b>Concepto asociado haber 2:</b>
  <%= @remunerative_concept.concepto_asociado_haber_2 %>
</p>

<p>
  <b>Concepto asociado retencion 2:</b>
  <%= @remunerative_concept.concepto_asociado_retencion_2 %>
</p>


<%= link_to 'Edit', edit_remunerative_concept_path(@remunerative_concept) %> |
<%= link_to 'Back', remunerative_concepts_path %>
