<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @remunerative_concept.codigo %>
</p>

<p>
  <b>Detalle:</b>
  <%= @remunerative_concept.detalle %>
</p>

<p>
  <b>Calculation type:</b>
  <%= @remunerative_concept.calculation_type %>
</p>

<p>
  <b>Valor:</b>
  <%= @remunerative_concept.valor %>
</p>

<p>
  <b>Porcentual asistencia:</b>
  <%= @remunerative_concept.porcentual_asistencia %>
</p>

<p>
  <b>Base calculo:</b>
  <%= @remunerative_concept.base_calculo %>
</p>

<p>
  <b>Prioridad calculot:</b>
  <%= @remunerative_concept.prioridad_calculo %>
</p>

<p>
  <b>Pide datos:</b>
  <%= @remunerative_concept.pide_datos %>
</p>

<p>
  <b>Statistical value:</b>
  <%= @remunerative_concept.statistical_value %>
</p>

<p>
  <b>Acumulador cantidad:</b>
  <%= @remunerative_concept.acumulador_cantidad %>
</p>

<p>
  <b>Grupo ganancias:</b>
  <%= @remunerative_concept.grupo_ganancias_id %>
</p>

<p>
  <b>Accounting imputation:</b>
  <%= @remunerative_concept.accounting_imputation_id %>
</p>

<p>
  <b>Concepto asociado haber:</b>
  <%= @remunerative_concept.concepto_asociado_haber %>
</p>

<p>
  <b>Concepto asociado retencion:</b>
  <%= @remunerative_concept.concepto_asociado_retencion %>
</p>

<p>
  <b>Concepto asociado haber 2:</b>
  <%= @remunerative_concept.concepto_asociado_haber_2 %>
</p>

<p>
  <b>Concepto asociado retencion 2:</b>
  <%= @remunerative_concept.concepto_asociado_retencion_2 %>
</p>


<%= link_to 'Edit', edit_remunerative_concept_path(@remunerative_concept) %> |
<%= link_to 'Back', remunerative_concepts_path %>
