<h1>Codigo de Haber</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Codigo:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.codigo %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.detalle %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Porcentual Asistencia:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.porcentual_asistencia %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Prioridad Calculo:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.prioridad_calculo %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Statistical Value:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.statistical_value %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Grupo Ganancias:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.grupo_ganancias_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Accounting Imputation:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.accounting_imputation_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Concepto Asociado Haber:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.concepto_asociado_haber_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Concepto Asociado Retencion:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.concepto_asociado_retencion_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Concepto Asociado Haber 2:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.concepto_asociado_haber_2_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Concepto Asociado Retencion 2:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.concepto_asociado_retencion_2_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Acumuladores Valor:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.acumuladores_valor %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Acumuladores Cantidad:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.acumuladores_cantidad %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Calculo Valor:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.calculo_valor %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Calculo Cantidad:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.calculo_cantidad %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Data To Ask:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.data_to_ask_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Cantidad En Recibo:</strong></td>
		<td style="width:70%"><%= @remunerative_concept.cantidad_en_recibo %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_remunerative_concept_path(@remunerative_concept) %> |
	<%= link_to "Eliminar", @remunerative_concept, :confirm => 'Esta seguro?', :method => :delete %> |
    <%= link_to icon('printer', :small, :title => 'Listado'), remunerative_concept_path(@remunerative_concept, :format => 'pdf') %>
	<%= link_to "Codigos de Haberes", remunerative_concepts_path %>
</p>
