<h1>Centros de Costos</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :detalle, "Detalle" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for cost_center in @cost_centers %>
		<tr>
			<td><%= cost_center.detalle %></td>
            <td><a href="/cost_centers/<%= cost_center.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/cost_centers/<%= cost_center.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/cost_centers/<%= cost_center.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Centro de Costos", new_cost_center_path %></p>

<%= paginate @cost_centers %>
