<h1>Listado de Centros de Costos</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cost_centers.each do |cost_center| %>
  <tr>
    <td><%= cost_center.detalle %></td>
    <td><%= link_to 'Visualizar', cost_center %></td>
    <td><%= link_to 'Editar', edit_cost_center_path(cost_center) %></td>
    <td><%= link_to 'Borrar', cost_center, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Centro de Costo', new_cost_center_path %>
