<%= form_for @employer_contribution_concept do |f| %>
	<% if @employer_contribution_concept.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@employer_contribution_concept.errors.count, "error") %> prohibido guardar Codigo de Aporte Patronal:</h2>
			<ul>
			<% @employer_contribution_concept.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :codigo %></strong></td>
			<td style="width:70%">
				<%= f.text_field :codigo %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :detalle %></strong></td>
			<td style="width:70%">
				<%= f.text_field :detalle %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :statistical_value %></strong></td>
			<td style="width:70%">
				<%= f.text_field :statistical_value %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :accounting_imputation_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :accounting_imputation_id, AccountingImputation.all, :id, :detalle, :include_blank => 'Sin datos' %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :prioridad %></strong></td>
			<td style="width:70%">
				<%= f.text_field :prioridad %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :acumuladores_valor %></strong></td>
			<td style="width:70%">
				<%= f.text_field :acumuladores_valor %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :formula_calculo_valor %></strong></td>
			<td style="width:70%">
				<%= f.text_field :formula_calculo_valor %>
			</td>
		</tr>
        <tr>
             <td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :health_insurance_id %></strong></td>
            <td style="width:70%">
                <%= f.collection_select :health_insurance_id, HealthInsurance.all, :id, :detalle, :include_blank => 'Sin Relacion' %>
            </td>
        </tr>
        <tr>
            <td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :retention_concept_id %></strong></td>
            <td style="width:70%">
                <%= f.collection_select :retention_concept_id, RetentionConcept.all, :id, :detalle, :include_blank => 'Sin Relacion' %>
            </td>
        </tr>
        <tr>
            <td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :additional_heath_insurance_id %></strong></td>
            <td style="width:70%">
                <%= f.collection_select :additional_health_insurance_id, RetentionConcept.all, :id, :detalle, :include_blank => 'Sin Relacion' %>
            </td>
        </tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
