<h1>Listing employer_contribution_concepts</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Detalle</th>
    <th>Calculation type</th>
    <th>Valor</th>
    <th>Base calculo</th>
    <th>Pide datos</th>
    <th>Statistical value</th>
    <th>Accounting imputation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employer_contribution_concepts.each do |employer_contribution_concept| %>
  <tr>
    <td><%= employer_contribution_concept.codigo %></td>
    <td><%= employer_contribution_concept.detalle %></td>
    <td><%= employer_contribution_concept.calculation_type %></td>
    <td><%= employer_contribution_concept.valor %></td>
    <td><%= employer_contribution_concept.base_calculo %></td>
    <td><%= employer_contribution_concept.pide_datos %></td>
    <td><%= employer_contribution_concept.statistical_value %></td>
    <td><%= employer_contribution_concept.accounting_imputation_id %></td>
    <td><%= link_to 'Show', employer_contribution_concept %></td>
    <td><%= link_to 'Edit', edit_employer_contribution_concept_path(employer_contribution_concept) %></td>
    <td><%= link_to 'Destroy', employer_contribution_concept, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employer contribution concept', new_employer_contribution_concept_path %>
