<h1>Codigos de Aportes Patronales</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :codigo, "Codigo" %></td>
		<th><%= sort_link @search, :detalle, "Detalle" %></td>
		<th><%= sort_link @search, :statistical_value, "Statistical Value" %></td>
		<th><%= sort_link @search, :accounting_imputation_id, "Accounting Imputation" %></td>
		<th><%= sort_link @search, :prioridad, "Prioridad" %></td>
		<th><%= sort_link @search, :acumuladores_valor, "Acumuladores Valor" %></td>
		<th><%= sort_link @search, :formula_calculo_valor, "Formula Calculo Valor" %></td>
        <th><%= sort_link @search, :health_insurance, "Corresponde a Obra Social" %></td>
        <th><%= sort_link @search, :retention_concept_id, "Codigo de Retencion Asociado(Solo Obra Social)" %></td>
        <th><%= sort_link @search, :retention_concept_id, "Codigo de Retencion Adicional Obra Social(Solo Obra Social)" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for employer_contribution_concept in @employer_contribution_concepts %>
		<tr>
			<td><%= employer_contribution_concept.codigo %></td>
			<td><%= employer_contribution_concept.detalle %></td>
			<td><%= employer_contribution_concept.statistical_value %></td>
			<td><%= employer_contribution_concept.accounting_imputation.try(:detalle) %></td>
			<td><%= employer_contribution_concept.prioridad %></td>
			<td><%= employer_contribution_concept.acumuladores_valor %></td>
            <td><%= employer_contribution_concept.formula_calculo_valor %></td>
			<td><%= employer_contribution_concept.health_insurance.try(:detalle) %></td>
            <td><%= employer_contribution_concept.retention_concept.try(:detalle) %></td>
            <td><%= employer_contribution_concept.other_retention_concept.try(:detalle) %></td>
            <td><a href="/employer_contribution_concepts/<%= employer_contribution_concept.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/employer_contribution_concepts/<%= employer_contribution_concept.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/employer_contribution_concepts/<%= employer_contribution_concept.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Codigo de Aporte Patronal", new_employer_contribution_concept_path %></p>

<%= paginate @employer_contribution_concepts %>
