<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @employer_contribution_concept.codigo %>
</p>

<p>
  <b>Detalle:</b>
  <%= @employer_contribution_concept.detalle %>
</p>

<p>
  <b>Formula de Calculo Valor:</b>
  <%= @employer_contribution_concept.formula_calculo_valor %>
</p>

<p>
  <b>Acumuladores:</b>
  <%= @employer_contribution_concept.acumuladores_valor %>
</p>

<p>
  <b>Prioridad de Calculo:</b>
  <%= @employer_contribution_concept.prioridad %>
</p>

<p>
  <b>Statistical value:</b>
  <%= @employer_contribution_concept.statistical_value %>
</p>

<p>
  <b>Accounting imputation:</b>
  <%= @employer_contribution_concept.accounting_imputation_id %>
</p>


<%= link_to 'Edit', edit_employer_contribution_concept_path(@employer_contribution_concept) %> |
<%= link_to 'Back', employer_contribution_concepts_path %>
