<h1>Employer Contribution Concepts Group Employer Contributions</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :group_employer_contribution_id, "Group Employer Contribution" %></td>
		<th><%= sort_link @search, :employer_contribution_concept_id, "Employer Contribution Concept" %></td>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for employer_contribution_concepts_group_employer_contribution in @employer_contribution_concepts_group_employer_contributions %>
		<tr>
			<td><%= employer_contribution_concepts_group_employer_contribution.group_employer_contribution_id %></td>
			<td><%= employer_contribution_concepts_group_employer_contribution.employer_contribution_concept_id %></td>
            <td><a href="/employer_contribution_concepts_group_employer_contributions/<%= employer_contribution_concepts_group_employer_contribution.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/employer_contribution_concepts_group_employer_contributions/<%= employer_contribution_concepts_group_employer_contribution.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/employer_contribution_concepts_group_employer_contributions/<%= employer_contribution_concepts_group_employer_contribution.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Employer Contribution Concepts Group Employer Contribution", new_employer_contribution_concepts_group_employer_contribution_path %></p>

<%= paginate @employer_contribution_concepts_group_employer_contributions %>
