= form_for(@data_to_ask) do |f|
  - if @data_to_ask.errors.any?
    #error_explanation
      %h2
        = pluralize(@data_to_ask.errors.count, "error")
        prohibited this data_to_ask from being saved:
      %ul
        - @data_to_ask.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :detalle
    %br/
    = f.text_field :detalle
  .field
    = f.label :cantidad
    %br/
    = f.check_box :cantidad
  .field
    = f.label :importe
    %br/
    = f.check_box :importe
  .actions
    = f.submit
