<%= form_for(@data_to_ask) do |f| %>
  <% if @data_to_ask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_to_ask.errors.count, "error") %> prohibited this data_to_ask from being saved:</h2>

      <ul>
      <% @data_to_ask.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.check_box :cantidad %>
  </div>
  <div class="field">
    <%= f.label :importe %><br />
    <%= f.check_box :importe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
