= form_for(@data_to_ask) do |f|
  = render 'shared/errorhandler', :obj_errors => @data_to_ask.errors
  .clear
  .form_box
    .form_box_title
    /  %span.title= DataToAsk.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :cantidad, :class => "apsLabel"
        %td.columnData
          = f.check_box :cantidad, :class => "apsCheckbox"
      %tr
        %td.columnLabel
          = f.label :importe, :class => "apsLabel"
        %td.columnData
          = f.check_box :importe, :class => "apsCheckbox"
  .actions
    = f.submit :class => "btn success"
