<%= form_for @data_to_ask do |f| %>
	<% if @data_to_ask.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@data_to_ask.errors.count, "error") %> prohibido guardar Datoa Solicitar:</h2>
			<ul>
			<% @data_to_ask.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :detalle %></strong></td>
			<td style="width:70%">
				<%= f.text_field :detalle %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :cantidad %></strong></td>
			<td style="width:70%">
				<%= f.check_box :cantidad %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :importe %></strong></td>
			<td style="width:70%">
				<%= f.check_box :importe %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
