%h1 Listing data_to_asks
%table
  %tr
    %th Detalle
    %th Cantidad
    %th Importe
    %th
    %th
    %th
  - @data_to_asks.each do |data_to_ask|
    %tr
      %td= data_to_ask.detalle
      %td= data_to_ask.cantidad
      %td= data_to_ask.importe
      %td= data_to_ask_links(data_to_ask)
%br/
= link_to 'New Data to ask', new_data_to_ask_path
