<h1>Datos a Solicitar</h1>

<table class="tableStandard">
	<tr>
		<th><%= sort_link @search, :detalle, "Detalle" %></td>
		<th>Cantidad</th>
		<th>Importe</th>
		<th colspan='3' style="text-align:center;">Acciones</th>
	</tr>
	<% for data_to_ask in @data_to_asks %>
		<tr>
			<td><%= data_to_ask.detalle %></td>
			<td><%= check_box_tag "data_to_ask_cantidad", data_to_ask.cantidad, data_to_ask.cantidad, :disabled => true %></td>
			<td><%= check_box_tag "data_to_ask_importe", data_to_ask.importe, data_to_ask.importe, :disabled => true %></td>
            <td><a href="/data_to_asks/<%= data_to_ask.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/data_to_asks/<%= data_to_ask.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/data_to_asks/<%= data_to_ask.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Datoa Solicitar", new_data_to_ask_path %></p>

<%= paginate @data_to_asks %>
