<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @data_to_ask.detalle %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @data_to_ask.cantidad %>
</p>

<p>
  <b>Importe:</b>
  <%= @data_to_ask.importe %>
</p>


<%= link_to 'Edit', edit_data_to_ask_path(@data_to_ask) %> |
<%= link_to 'Back', data_to_asks_path %>
