<h1>Datoa Solicitar</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Detalle:</strong></td>
		<td style="width:70%"><%= @data_to_ask.detalle %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Cantidad:</strong></td>
		<td style="width:70%"><%= @data_to_ask.cantidad? ? 'Si' : 'No' %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Importe:</strong></td>
		<td style="width:70%"><%= @data_to_ask.importe? ? 'Si' : 'No' %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_data_to_ask_path(@data_to_ask) %> |
	<%= link_to "Eliminar", @data_to_ask, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Datos a Solicitar", data_to_asks_path %>
</p>
