- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item DataToAsk.model_name.human, data_to_asks_path 
    - breadcrumb.item "#{@data_to_ask.detalle.titlecase}", data_to_ask_path(@data_to_ask), :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_data_to_ask_path(@data_to_ask), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @data_to_ask, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@data_to_ask) do |f|
  - if @data_to_ask.errors.any?
    #error_explanation
      %h2
        = pluralize(@data_to_ask.errors.count, "error")
        prohibited this data_to_ask from being saved:
      %ul
        - @data_to_ask.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = @data_to_ask.detalle
    %tr
      %td.columnLabel
        = f.label :cantidad, :class => "apsLabel"
      %td.columnData
        = @data_to_ask.cantidad
    %tr
      %td.columnLabel
        = f.label :importe, :class => "apsLabel"
      %td.columnData
        = @data_to_ask.importe
.clear
