= form_for(@associated_document_type) do |f|
  - if @associated_document_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@associated_document_type.errors.count, "error")
        prohibited this associated_document_type from being saved:
      %ul
        - @associated_document_type.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= AssociatedDocumentType.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = f.text_field :name, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
