
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => AssociatedDocumentType.model_name.human).titlecase

%table
  %tr

    %th= AssociatedDocumentType.human_attribute_name('name')
    %th= AssociatedDocumentType.human_attribute_name('document_type')

    %th
    %th
    %th

  - @associated_document_types.each do |associated_document_type|
    %tr

      %td= associated_document_type.name
      %td= associated_document_type.document_type


      %td= link_to t('scaffold.actions.show').titlecase, associated_document_type
      %td= link_to t('scaffold.actions.edit').titlecase, edit_associated_document_type_path(associated_document_type)
      %td= link_to t('scaffold.actions.destroy').titlecase, associated_document_type, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => AssociatedDocumentType.model_name.human).titlecase, new_associated_document_type_path

