- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item AssociatedDocumentType.model_name.human, associated_document_types_path 
    - breadcrumb.item "#{@associated_document_type.name.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_associated_document_type_path(@associated_document_type), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @associated_document_type, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@associated_document_type) do |f|
  = render 'shared/errorhandler', :obj_errors => @associated_document_type.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @associated_document_type.code
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = @associated_document_type.name
      %tr
        %td.columnLabel
          = f.label :document_type, :class => "apsLabel"
        %td.columnData
          = @associated_document_type.document_type == "O" ? "Otros" : (@associated_document_type.document_type == "L" ? "Logo" : "Foto Principal")

.clear
