<h1>Consorcios</h1>

<table class="tableStandard">
  <tr>
    <th>Codigo</th>
    <th>Detalle</th>
    <th>Calle</th>
    <th>Altura</th>
    <th>Codigo Postal</th>
    <th>Localidad</th>
    <th>Provincia</th>
    <th>Contacto</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>CUIT</th>
    <th>Ultima Hoja Libro de Sueldos</th>
    <th>Imprimir Hasta Hoja Libro de Sueldos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% for consortium in @consortia %>
    <tr>
      <td><%= consortium.code %></td>
      <td><%= consortium.name %></td>
      <td><%= consortium.calle %></td>
      <td><%= consortium.altura %></td>
      <td><%= consortium.codigo_postal %></td>
      <td><%= consortium.location.try(:detalle) %></td>
      <td><%= consortium.province.try(:detalle) %></td>
      <td><%= consortium.contacto %></td>
      <td><%= consortium.telefono %></td>
      <td><%= consortium.email %></td>
      <td><%= consortium.cuit %></td>
      <td><%= consortium.ultima_hoja_libro %></td>
      <td><%= consortium.imprimir_hasta_hoja_libro %></td>

      <td><a href="/consortia/<%= consortium.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
      <td><a href="/consortia/<%= consortium.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
      <td><a href="/consortia/<%= consortium.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
          <img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
      </td>

    </tr>
  <% end %>
</table>
<p><%= link_to 'New consortiun', new_consortium_path %></p>

<%= paginate @consortia %>