- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Issued.model_name.human, issueds_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Issued.model_name.human).titlecase , new_issued_path(@issued), :class => "btn success" 
  - if @issueds.any?
    = link_to t('scaffold.actions.export').titlecase, issueds_path( :format => 'pdf'), :class => "btn info"

- if @issueds.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @issueds.human_attribute_name('detalle')
      %th.last

    - @issueds.each do |item|
      %tr
        %td= item.detalle
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_issued_path(item)
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete
    .clear
    .block{:style => 'margin:20px;'}= paginate(@issueds)
  .clear
.clear
