%h1 Listado de Lugares de Emision de Documentos
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @issueds.each do |issued|
    %tr
      %td= issued.detalle
      %td= link_to 'Visualizar', issued
      %td= link_to 'Editar', edit_issued_path(issued)
      %td= link_to 'Borrar', issued, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nuevo Lugar de EMision de Documento', new_issued_path
