= form_for(@sicoss_format_employer) do |f|
  - if @sicoss_format_employer.errors.any?
    #error_explanation
      %h2
        = pluralize(@sicoss_format_employer.errors.count, "error")
        prohibited this sicoss_format_employer from being saved:
      %ul
        - @sicoss_format_employer.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= SicossFormatEmployer.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :sicoss_format_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :sicoss_format_id, SicossFormat.all, :id, :name, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :field_type, :class => "apsLabel"
        %td.columnData
          = f.text_field :field_type, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :formula, :class => "apsLabel"
        %td.columnData
          = f.text_field :formula, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
