- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossFormatEmployer.model_name.human, sicoss_format_employers_path , :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_sicoss_format_employer_path(@sicoss_format_employer), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @sicoss_format_employer, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@sicoss_format_employer) do |f|
  = render 'shared/errorhandler', :obj_errors => @sicoss_format_employer.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :sicoss_format_id, :class => "apsLabel"
        %td.columnData
          = @sicoss_format_employer.sicoss_format.name
      %tr
        %td.columnLabel
          = f.label :field_type, :class => "apsLabel"
        %td.columnData
          = @sicoss_format_employer.field_type
      %tr
        %td.columnLabel
          = f.label :formula, :class => "apsLabel"
        %td.columnData
          = @sicoss_format_employer.formula
.clear
