= form_for(@kinship) do |f|
  = render 'shared/errorhandler', :obj_errors => @kinship.errors
  .clear
  %br/
  .form_box
    .form_box_title
    /  %span.title= Kinship.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = f.text_field :code, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = f.text_field :name, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :hijo_conyugue, :class => "apsLabel"
        %td.columnData
          = f.select( :hijo_conyugue ,{ "Otros" => "O", "Conyuge" => "C", "Hijo" => "H"},{ :prompt => "Seleccione un tipo de Parentezco"})
  .actions
    = f.submit :class => "btn success"
