
= semantic_form_for @kinship do |f|
  = f.semantic_errors

  = f.inputs do

    = f.input :name

    = f.label "Tipo de parentesco"
    = select( "kinship", "hijo_conyugue", { "No corresponde" => " ", "Conyuge" => "C", "Hijo" => "H"})


  = f.buttons

