
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => Kinship.model_name.human).titlecase

%table
  %tr

    %th= Kinship.human_attribute_name('name')

    %th= Kinship.human_attribute_name('hijo_conyugue')

    %th
    %th
    %th

  - @kinships.each do |kinship|
    %tr

      %td= kinship.name

      %td= (kinship.hijo_conyugue =="C" ?  "Conyuge"  : (kinship.hijo_conyugue =="H" ? "Hijo" : ""))

      %td= link_to t('scaffold.actions.show').titlecase, kinship
      %td= link_to t('scaffold.actions.edit').titlecase, edit_kinship_path(kinship)
      %td= link_to t('scaffold.actions.destroy').titlecase, kinship, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => Kinship.model_name.human).titlecase, new_kinship_path

