
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => SicossRegimenType.model_name.human).titlecase

%table
  %tr

    %th= SicossRegimenType.human_attribute_name('code')

    %th= SicossRegimenType.human_attribute_name('name')

    %th
    %th
    %th

  - @sicoss_regimen_types.each do |sicoss_regimen_type|
    %tr

      %td= sicoss_regimen_type.name

      %td= sicoss_regimen_type.company_id

      %td= link_to t('scaffold.actions.show').titlecase, sicoss_regimen_type
      %td= link_to t('scaffold.actions.edit').titlecase, edit_sicoss_regimen_type_path(sicoss_regimen_type)
      %td= link_to t('scaffold.actions.destroy').titlecase, sicoss_regimen_type, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => SicossRegimenType.model_name.human).titlecase, new_sicoss_regimen_type_path

