- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossRegimenType.model_name.human, sicoss_regimen_types_path 
    - breadcrumb.item "#{@sicoss_regimen_type.name.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_sicoss_regimen_type_path(@sicoss_regimen_type), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @sicoss_regimen_type, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@sicoss_regimen_type) do |f|
  = render 'shared/errorhandler', :obj_errors => @sicoss_regimen_type.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :name, :class => "apsLabel"
        %td.columnData
          = @sicoss_regimen_type.name
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @sicoss_regimen_type.code
.clear
