= form_for(@employee_familiar) do |f|
  - if @employee_familiar.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee_familiar.errors.count, "error")
        prohibited this employee_familiar from being saved:
      %ul
        - @employee_familiar.errors.full_messages.each do |msg|
          %li= msg
  .clear
  %br/
  .form_box
    .form_box_title
      %span.title= EmployeeFamiliar.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :apellido, :class => "apsLabel"
        %td.columnData
          = f.text_field :apellido, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :nombre, :class => "apsLabel"
        %td.columnData
          = f.text_field :nombre, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :fecha_nacimiento, :class => "apsLabel"
        %td.columnData
          = f.text_field :fecha_nacimiento, :class => "apsDatetime"
      %tr
        %td.columnLabel
          = f.label :numero_documento, :class => "apsLabel"
        %td.columnData
          = f.text_field :numero_documento, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :health_insurance_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :health_insurance_id, HealthInsurance.all, :id, :detalle, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :cuil, :class => "apsLabel"
        %td.columnData
          = f.text_field :cuil, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :cuit, :class => "apsLabel"
        %td.columnData
          = f.text_field :cuit, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :tomo, :class => "apsLabel"
        %td.columnData
          = f.text_field :tomo, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :folio, :class => "apsLabel"
        %td.columnData
          = f.text_field :folio, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :acta, :class => "apsLabel"
        %td.columnData
          = f.text_field :acta, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :country_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :country_id, Country.all, :id, :detalle, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :province_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :province_id, Province.all, :id, :detalle, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :comuna, :class => "apsLabel"
        %td.columnData
          = f.text_field :comuna, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :employee_id, :class => "apsLabel"
        %td.columnData
          = f.text_field :employee_id, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :document_type_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :document_type_id, DocumentType.all, :id, :detalle, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :activity_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :activity_id, Activity.all, :id, :name, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :kinship_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :kinship_id, Kinship.all, :id, :name, {:class => "apsSelect"}
      %tr
        %td.columnLabel
          = f.label :address, :class => "apsLabel"
        %td.columnData
          = f.text_field :address, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :porcentual, :class => "apsLabel"
        %td.columnData
          = f.text_field :porcentual, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
