<h1>Visualizacion de Familiar</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Apellido:</b>
  <%= @employee_familiar.apellido %>
</p>

<p>
  <b>Nombre:</b>
  <%= @employee_familiar.nombre %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @employee_familiar.fecha_nacimiento %>
</p>

<p>
  <b>Numero documento:</b>
  <%= @employee_familiar.numero_documento %>
</p>

<p>
  <b>Obra Social:</b>
  <%= @employee_familiar.health_insurance_id %>
</p>

<p>
  <b>Cuil:</b>
  <%= @employee_familiar.cuil %>
</p>

<p>
  <b>Cuit:</b>
  <%= @employee_familiar.cuit %>
</p>

<p>
  <b>Tomo:</b>
  <%= @employee_familiar.tomo %>
</p>

<p>
  <b>Folio:</b>
  <%= @employee_familiar.folio %>
</p>

<p>
  <b>Acta:</b>
  <%= @employee_familiar.acta %>
</p>

<p>
  <b>Pais:</b>
  <%= @employee_familiar.country_id %>
</p>

<p>
  <b>Provincia:</b>
  <%= @employee_familiar.province_id %>
</p>

<p>
  <b>Comuna:</b>
  <%= @employee_familiar.comuna %>
</p>

<p>
  <b>Tipo de documento:</b>
  <%= @employee_familiar.document_type_id %>
</p>

<p>
  <b>Ocupacion:</b>
  <%= @employee_familiar.activity_id %>
</p>

<p>
  <b>id empleado:</b>
  <%= @employee_familiar.employee_id %>
</p>


<%= link_to 'Editar', edit_employee_familiar_path(@employee_familiar) %> |
<%= link_to 'Volver', employee_familiars_path %>
