= form_for(@detalle_recibo_haber) do |f|
  = render 'shared/errorhandler', :obj_errors => @detalle_recibo_haber.errors
  .clear
  .form_box
    .form_box_title
    /  %span.title= DetalleReciboHaber.model_name.human
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :recibo_sueldo_id, :class => "apsLabel"
        %td.columnData
          = f.text_field :recibo_sueldo_id, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :remunerative_concept_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :remunerative_concept_id, RemunerativeConcept.all, :id, :detalle, {:class => "apsSelect"}, {:include_blank => 'Sin datos'}
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = f.text_field :detalle, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :cost_center_id, :class => "apsLabel"
        %td.columnData
          = f.collection_select :cost_center_id, CostCenter.all, :id, :detalle, {:class => "apsSelect"}, {:include_blank => 'Sin datos'}
      %tr
        %td.columnLabel
          = f.label :cantidad, :class => "apsLabel"
        %td.columnData
          = f.text_field :cantidad, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :importe, :class => "apsLabel"
        %td.columnData
          = f.text_field :importe, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :total, :class => "apsLabel"
        %td.columnData
          = f.text_field :total, :class => "apsTextbox"
      %tr
        %td.columnLabel
          = f.label :cantidad_recibo, :class => "apsLabel"
        %td.columnData
          = f.text_field :cantidad_recibo, :class => "apsTextbox"
  .actions
    = f.submit :class => "btn success"
