<%= form_for(@detalle_recibo_haber) do |f| %>
  <% if @detalle_recibo_haber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_recibo_haber.errors.count, "error") %> prohibited this detalle_recibo_haber from being saved:</h2>

      <ul>
      <% @detalle_recibo_haber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recibo_sueldo_id %><br />
    <%= f.collection_select :recibo_sueldo_id, ReciboSueldo.all, :id, :employee_id, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :remunerative_concept_id %><br />
    <%= f.collection_select :remunerative_concept_id, RemunerativeConcept.all, :id, :detalle, :prompt => true %>
  </div>
  <div class="field">
    <%= "Detalle personalizado"%><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="field">
    <%= f.label :cost_center_id %><br />
    <%= f.collection_select :cost_center_id, CostCenter.all, :id, :detalle, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :importe %><br />
    <%= f.text_field :importe %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
