- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item DetalleReciboHaber.model_name.human, detalle_recibo_habers_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => DetalleReciboHaber.model_name.human).titlecase , new_detalle_recibo_haber_path(@detalle_recibo_haber), :class => "btn success" 
  - if @detalle_recibo_habers.any?
    = link_to t('scaffold.actions.export').titlecase, detalle_recibo_habers_path( :format => 'pdf'), :class => "btn info"

- if @detalle_recibo_habers.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :recibo_sueldo_id, @detalle_recibo_habers.human_attribute_name('recibo_sueldo_id')
      %th= sort_link @search, :remunerative_concept_id, @detalle_recibo_habers.human_attribute_name('remunerative_concept_id')
      %th= sort_link @search, :detalle, @detalle_recibo_habers.human_attribute_name('detalle')
      %th= sort_link @search, :cost_center_id, @detalle_recibo_habers.human_attribute_name('cost_center_id')
      %th= sort_link @search, :cantidad, @detalle_recibo_habers.human_attribute_name('cantidad')
      %th= sort_link @search, :importe, @detalle_recibo_habers.human_attribute_name('importe')
      %th= sort_link @search, :total, @detalle_recibo_habers.human_attribute_name('total')
      %th= sort_link @search, :cantidad_recibo, @detalle_recibo_habers.human_attribute_name('cantidad_recibo')
      %th.last

    - @detalle_recibo_habers.each do |item|
      %tr
        %td= item.recibo_sueldo_id
        %td= item.remunerative_concept_id
        %td= item.detalle
        %td= item.cost_center_id
        %td= item.cantidad
        %td= item.importe
        %td= item.total
        %td= item.cantidad_recibo
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_detalle_recibo_haber_path(item)
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete
    .clear
    .block{:style => 'margin:20px;'}= paginate(@detalle_recibo_habers)
  .clear
.clear
