%h1 Listing detalle_recibo_habers
%table
  %tr
    %th Recibo sueldo
    %th Remunerative concept
    %th Detalle
    %th Cost center
    %th Cantidad
    %th Importe
    %th Total
    %th
    %th
    %th
  - @detalle_recibo_habers.each do |detalle_recibo_haber|
    %tr
      %td= detalle_recibo_haber.recibo_sueldo_id
      %td= detalle_recibo_haber.remunerative_concept_id
      %td= detalle_recibo_haber.detalle
      %td= detalle_recibo_haber.cost_center_id
      %td= detalle_recibo_haber.cantidad
      %td= detalle_recibo_haber.importe
      %td= detalle_recibo_haber.total
      %td= link_to 'Show', detalle_recibo_haber
      %td= link_to 'Edit', edit_detalle_recibo_haber_path(detalle_recibo_haber)
      %td= link_to 'Destroy', detalle_recibo_haber, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Detalle recibo haber', new_detalle_recibo_haber_path
