<p id="notice"><%= notice %></p>

<p>
  <b>Recibo sueldo:</b>
  <%= @detalle_recibo_haber.recibo_sueldo_id %>
</p>

<p>
  <b>Remunerative concept:</b>
  <%= @detalle_recibo_haber.remunerative_concept_id %>
</p>

<p>
  <b>Detalle:</b>
  <%= @detalle_recibo_haber.detalle %>
</p>

<p>
  <b>Cost center:</b>
  <%= @detalle_recibo_haber.cost_center_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @detalle_recibo_haber.cantidad %>
</p>

<p>
  <b>Importe:</b>
  <%= @detalle_recibo_haber.importe %>
</p>

<p>
  <b>Total:</b>
  <%= @detalle_recibo_haber.total %>
</p>


<%= link_to 'Edit', edit_detalle_recibo_haber_path(@detalle_recibo_haber) %> |
<%= link_to 'Back', detalle_recibo_habers_path %>
