<h1>Listado de Obras Sociales</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @health_insurances.each do |health_insurance| %>
  <tr>
    <td><%= health_insurance.detalle %></td>
    <td><%= link_to 'Visualizar', health_insurance %></td>
    <td><%= link_to 'Editar', edit_health_insurance_path(health_insurance) %></td>
    <td><%= link_to 'Borrar', health_insurance, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Obra Social', new_health_insurance_path %>
