%h1 Visualizacion de Obra Social
%p#notice= notice
%p
  %b Code:
  = @health_insurance.code
  %b Detalle:
  = @health_insurance.detalle
= health_insurance_links(@health_insurance)
|
\#{link_to 'Volver', health_insurances_path}
