- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item HealthInsurance.model_name.human, health_insurances_path 
    - breadcrumb.item "#{@health_insurance.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_health_insurance_path(@health_insurance), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @health_insurance, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@health_insurance) do |f|
  = render 'shared/errorhandler', :obj_errors => @health_insurance.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @health_insurance.detalle
      %tr
        %td.columnLabel
          = f.label :code, :class => "apsLabel"
        %td.columnData
          = @health_insurance.code
.clear
