- content_for(:head) do
  = javascript_tag do
    $( ".datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true
    });
  :css
    .field_periodo{
        float:left;
        width:33%;
    }

     .actions{
        clear:both;
    }
    = form_for(@liquidacion) do |f|
    - if @liquidacion.errors.any?
      #error_explanation
        %h2
          = pluralize(@liquidacion.errors.count, "error")
          prohibited this liquidacion from being saved:
        %ul
          - @liquidacion.errors.full_messages.each do |msg|
            %li= msg
    .field_periodo
      = f.label :Periodo
      = f.date_select :periodo, :discard_day => true if @liquidacion.new_record?
      = @liquidacion.periodo unless @liquidacion.new_record?
    .field
      = f.label :quincena
      = f.text_field :quincena , :size => 2 if @liquidacion.new_record?
      = @liquidacion.quincena unless @liquidacion.new_record?
    .field
      = f.label :tipo_recibo_id
      %br/
      = f.collection_select :tipo_recibo_id, TipoRecibo.all, :id, :detalle, :prompt => true if @liquidacion.new_record?
      = @liquidacion.tipo_recibo unless @liquidacion.new_record?
    .field
      = f.label :fecha_liquidacion
      %br/
      = f.text_field :fecha_liquidacion ,:class => 'datepicker'
    .field
      = "Banco ultimo deposito:"
      %br/
      = f.collection_select :bank_deposit_id, BankDeposit.all, :id, :detalle, :prompt => true
    .field
      = f.label :periodo_deposito
      %br/
      = f.date_select :periodo_deposito, :discard_day => true
    .field
      = f.label :fecha_deposito
      %br/
      = f.text_field :fecha_deposito,:class => 'datepicker'
    .field
      = f.label :fecha_cierre
      %br/
      = f.text_field :fecha_cierre,:class => 'datepicker'
    .field
      = f.label :techo_retenciones
      %br/
      = f.text_field :techo_retenciones
    .actions
      = f.submit
