%h1 Listing liquidacions
%table.tableStandard
  %tr
    %th Periodo
    %th Quincena
    %th Tipo Recibo
    %th Fecha liquidacion
    %th Banco ultimo deposito
    %th Periodo deposito
    %th Fecha deposito
    %th Fecha cierre
    %th Techo retenciones
    %th
    %th
    %th
  - @liquidacions.each do |liquidacion|
    %tr
      %td= liquidacion.periodo.strftime("%Y/%m")
      %td{:style => "text-align:center"}= liquidacion.quincena
      %td= liquidacion.tipo_recibo.try(:detalle)
      %td{:style => "text-align:center"}= liquidacion.fecha_liquidacion.strftime("%d/%m/%Y")
      %td= liquidacion.bank_deposit.try(:detalle)
      %td= liquidacion.periodo_deposito.strftime("%Y/%m")
      %td= liquidacion.fecha_deposito.strftime("%d/%m/%Y")
      %td= liquidacion.fecha_cierre.strftime("%d/%m/%Y")
      %td= liquidacion.techo_retenciones
      %td= liquidacion_links(liquidacion)

%br/
= link_to 'Nueva Liquidacion', new_liquidacion_path
