%h1 Visualizacion de Liquidacion
%p#notice= notice
- if @liquidacion.errors.any?
  #error_explanation
    %h2
      = pluralize(@liquidacion.errors.count, "error")
      prohibited this liquidacion from being saved:
    %ul
      - @liquidacion.errors.full_messages.each do |msg|
        %li= msg
%p
  %b Periodo de liquidacion:
  = @liquidacion.periodo.month
  \/ #{@liquidacion.periodo.year}
%p
  %b Tipo de Recibo:
  = @liquidacion.tipo_recibo.try(:detalle)
%p
  %b Quincena:
  = @liquidacion.quincena
%p
  %b Fecha liquidacion:
  = @liquidacion.fecha_liquidacion
%p
  %b Banco ultimo deposito:
  = @liquidacion.bank_deposit.try(:detalle)
%p
  %b Periodo deposito:
  = @liquidacion.periodo_deposito.month
  \/  #{@liquidacion.periodo_deposito.year}
%p
  %b Fecha deposito:
  = @liquidacion.fecha_deposito
%p
  %b Fecha cierre:
  = @liquidacion.fecha_cierre
%p
  %b Techo retenciones:
  = @liquidacion.techo_retenciones
= liquidacion_links(@liquidacion)
|
\#{link_to 'Volver', liquidacions_path}
= link_to icon('printer', :small, :title => 'Libro Sueldos'), liquidacion_path(@liquidacion, :format => 'pdf')
= link_to icon('printer', :small, :title => 'Planilla de Remuneraciones'), liquidacion_path(@liquidacion, :format => 'json')
= link_to icon('sicoss', :small, :title => 'Interfase Sicoss'), liquidacion_path(@liquidacion, :format => 'text')
