- form_for @employee_document, :html => { :multipart => true } do |f|
  - if @employee_document.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee_document.errors.count, "error")
        prohibited this employee_document from being saved:
      %ul
        - @employee_document.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id_employee
    %br/
    = f.text_field :id_employee

  .field
    = f.label "Tipo de Documento Asociado"
    %br/
    = f.collection_select :associated_document_type_id,  AssociatedDocumentType.all, :id, :name, :prompt => true

  .field
    = f.label :name
    %br/
    = f.text_field :name

  .field
    = f.file_field :document
  .actions
    = f.submit

