- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Category.model_name.human, categories_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Category.model_name.human) , new_category_path(@category), :class => "btn success" 
  - if @categories.any?
    = link_to t('scaffold.actions.export').titlecase, categories_path( :format => 'pdf'), :class => "btn info"

- if @categories.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @categories.human_attribute_name('detalle')
      %th= sort_link @search, :importe, @categories.human_attribute_name('importe')
      %th= sort_link @search, :horas, @categories.human_attribute_name('horas')
      %th= sort_link @search, :codigo, @categories.human_attribute_name('codigo')
      %th= sort_link @search, :default, @categories.human_attribute_name('default')
      %th.last

    - @categories.each do |item|
      %tr
        %td= item.detalle
        %td= item.importe
        %td= item.horas
        %td= item.codigo
        %td= check_box_tag "category_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_category_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@categories)
  .clear
.clear
