- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Category.model_name.human, categories_path 
    - breadcrumb.item "#{@category.detalle.titlecase}", nil, :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_category_path(@category), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @category, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@category) do |f|
  = render 'shared/errorhandler', :obj_errors => @category.errors
  .form_box
    %table.tableForm
      %tr
        %td.columnLabel
          = f.label :detalle, :class => "apsLabel"
        %td.columnData
          = @category.detalle
      %tr
        %td.columnLabel
          = f.label :importe, :class => "apsLabel"
        %td.columnData
          = @category.importe
      %tr
        %td.columnLabel
          = f.label :horas, :class => "apsLabel"
        %td.columnData
          = @category.horas
      %tr
        %td.columnLabel
          = f.label :codigo, :class => "apsLabel"
        %td.columnData
          = @category.codigo
.clear
