- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Province.model_name.human, provinces_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Province.model_name.human) , new_province_path(@province), :class => "btn success" 
  - if @provinces.any?
    = link_to t('scaffold.actions.export').titlecase, provinces_path( :format => 'pdf'), :class => "btn info"

- if @provinces.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @provinces.human_attribute_name('detalle')
      %th= sort_link @search, :code, @provinces.human_attribute_name('code')
      %th= sort_link @search, :country_id, @provinces.human_attribute_name('country_id')
      %th= sort_link @search, :default, @provinces.human_attribute_name('default')
      %th.last

    - @provinces.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= item.country_id
        %td= check_box_tag "province_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_province_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@provinces)
  .clear
.clear
