- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Province.model_name.human, provinces_path 
    - breadcrumb.item "#{@province.detalle.titlecase}", province_path(@province), :active => true

= link_to t('scaffold.actions.edit').titlecase, edit_province_path(@province), :class => "btn success" |
= link_to t('scaffold.actions.destroy').titlecase, @province, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :class => "btn danger"
.clear
%br/
= form_for(@province) do |f|
  - if @province.errors.any?
    #error_explanation
      %h2
        = pluralize(@province.errors.count, "error")
        prohibited this province from being saved:
      %ul
        - @province.errors.full_messages.each do |msg|
          %li= msg
  %table.tableForm
    %tr
      %td.columnLabel
        = f.label :detalle, :class => "apsLabel"
      %td.columnData
        = @province.detalle
.clear
