<h1>Listado de Actividades</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.detalle %></td>
    <td><%= link_to 'Visualizar', activity %></td>
    <td><%= link_to 'EditAR', edit_activity_path(activity) %></td>
    <td><%= link_to 'Borrar', activity, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Actividad', new_activity_path %>
