- content_for(:title) do
  %h1= [t('scaffold.actions.show'), Activity.model_name.human].join(' ').titlecase

- content_for(:controls) do
  = controls do |control|
    - control.item t('scaffold.actions.edit').titlecase, edit_activity_path(@activity), :icon => 'application_edit'
    - control.item t('scaffold.actions.back').titlecase, :back, :icon => 'application_view_list'

= semantic_attributes_for(@activity) do |s|
  = s.attributes(Activity.human_name + ' Info') do

    = s.attribute :name

.clear