
- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => Numerador.model_name.human).titlecase

%table
  %tr

    %th= Numerador.human_attribute_name('code')

    %th= Numerador.human_attribute_name('name')

    %th= Numerador.human_attribute_name('number')

    %th
    %th
    %th

  - @numeradors.each do |numerador|
    %tr

      %td= numerador.code

      %td= numerador.name

      %td= numerador.number

      %td= link_to t('scaffold.actions.show').titlecase, numerador
      %td= link_to t('scaffold.actions.edit').titlecase, edit_numerador_path(numerador)
      %td= link_to t('scaffold.actions.destroy').titlecase, numerador, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => Numerador.model_name.human).titlecase, new_numerador_path

