- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Numerador.model_name.human, numeradors_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Numerador.model_name.human) , new_numerador_path(@numerador), :class => "btn success" 
  - if @numeradors.any?
    = link_to t('scaffold.actions.export').titlecase, "/print_table?tablename=" + Numerador.model_name, :class => "btn info"

- if @numeradors.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :code, @numeradors.human_attribute_name('code')
      %th= sort_link @search, :name, @numeradors.human_attribute_name('name')
      %th= sort_link @search, :number, @numeradors.human_attribute_name('number')
      %th.last

    - @numeradors.each do |item|
      %tr
        %td= item.code
        %td= item.name
        %td= item.number
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_numerador_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@numeradors)
  .clear
.clear
