

- content_for(:title) do
  %h1= [t('scaffold.actions.show'), Numerador.model_name.human].join(' ').titlecase

- content_for(:controls) do
  = controls do |control|
    - control.item t('scaffold.actions.edit').titlecase, edit_numerador_path(@numerador), :icon => 'application_edit'
    - control.item t('scaffold.actions.back').titlecase, :back, :icon => 'application_view_list'

= semantic_attributes_for(@numerador) do |s|
  = s.attributes(Numerador.human_name + ' Info') do

    = s.attribute :code

    = s.attribute :name

    = s.attribute :number


.clear