- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item SicossCondition.model_name.human, sicoss_conditions_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => SicossCondition.model_name.human) , new_sicoss_condition_path(@sicoss_condition), :class => "btn success" 
  - if @sicoss_conditions.any?
    = link_to t('scaffold.actions.export').titlecase, "/print_table?tablename=" + SicossCondition.model_name, :class => "btn info"

- if @sicoss_conditions.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :name, @sicoss_conditions.human_attribute_name('name')
      %th= sort_link @search, :code, @sicoss_conditions.human_attribute_name('code')
      %th.last

    - @sicoss_conditions.each do |item|
      %tr
        %td= item.name
        %td= item.code
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_sicoss_condition_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@sicoss_conditions)
  .clear
.clear
