<h1>Listado de Nacionalidades</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nationalities.each do |nationality| %>
  <tr>
    <td><%= nationality.detalle %></td>
    <td><%= link_to 'Visualizar', nationality %></td>
    <td><%= link_to 'Editar', edit_nationality_path(nationality) %></td>
    <td><%= link_to 'borrar', nationality, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Nacionalidad', new_nationality_path %>
