%h1 Listado de Nacionalidades
%table
  %tr
    %th Detalle
    %th
    %th
    %th
  - @nationalities.each do |nationality|
    %tr
      %td= nationality.detalle
      %td= link_to 'Visualizar', nationality
      %td= link_to 'Editar', edit_nationality_path(nationality)
      %td= link_to 'borrar', nationality, :confirm => 'Esta Seguro?', :method => :delete
%br/
= link_to 'Nueva Nacionalidad', new_nationality_path
