<%= form_for(@character_service) do |f| %>
  <% if @character_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_service.errors.count, "error") %> prohibited this character_service from being saved:</h2>

      <ul>
      <% @character_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :detalle %><br />
    <%= f.text_field :detalle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
