<h1>Listado de Localidades</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.detalle %></td>
    <td><%= link_to 'Visualizar', location %></td>
    <td><%= link_to 'Editar', edit_location_path(location) %></td>
    <td><%= link_to 'Borrar', location, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Localidad', new_location_path %>
