- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Location.model_name.human, locations_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Location.model_name.human) , new_location_path(@location), :class => "btn success" 
  - if @locations.any?
    = link_to t('scaffold.actions.export').titlecase, locations_path( :format => 'pdf'), :class => "btn info"

- if @locations.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @locations.human_attribute_name('detalle')
      %th= sort_link @search, :code, @locations.human_attribute_name('code')
      %th.last

    - @locations.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_location_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@locations)
  .clear
.clear
