- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item CausaEgreso.model_name.human, causa_egresos_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => CausaEgreso.model_name.human) , new_causa_egreso_path(@causa_egreso), :class => "btn success" 
  - if @causa_egresos.any?
    = link_to t('scaffold.actions.export').titlecase, "/print_table?tablename=" + CausaEgreso.model_name, :class => "btn info"

- if @causa_egresos.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @causa_egresos.human_attribute_name('detalle')
      %th= sort_link @search, :code, @causa_egresos.human_attribute_name('code')
      %th= sort_link @search, :default, @causa_egresos.human_attribute_name('default')
      %th.last

    - @causa_egresos.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= check_box_tag "causa_egreso_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_causa_egreso_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@causa_egresos)
  .clear
.clear
