- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item Place.model_name.human, places_path, :active => true
.clear
- if true
  = link_to t('scaffold.actions.new', :item => Place.model_name.human) , new_place_path(@place), :class => "btn success" 
  - if @places.any?
    = link_to t('scaffold.actions.export').titlecase, places_path( :format => 'pdf'), :class => "btn info"

- if @places.any?
  %table.tableStandard
    %tr
      %th= sort_link @search, :detalle, @places.human_attribute_name('detalle')
      %th= sort_link @search, :code, @places.human_attribute_name('code')
      %th= sort_link @search, :default, @places.human_attribute_name('default')
      %th.last

    - @places.each do |item|
      %tr
        %td= item.detalle
        %td= item.code
        %td= check_box_tag "place_default", item.default, item.default, :disabled => true
        %td.last.actions
          = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), item, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_place_path(item), :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
          = link_to icon('application_delete', :small, :title => t('scaffold.actions.destroy').titlecase), item, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete, :rel => "twypsy", :title => t('scaffold.actions.show').titlecase
    .clear
    .block{:style => 'margin:20px;'}= paginate(@places)
  .clear
.clear
