%h1 Lugares de Trabajo

= paginate @places

%table.tableStandard
  %tr
    %th= sort_link @search, :detalle, "Detalle"
    %th{ :colspan => '3', :style => "text-align:center;"} Acciones
  - @places.each do |item|
    %tr
      %td= item.detalle
      %td
        %a{ :href => "/places/#{item.id.to_s}" }
          %img{ :alt => "Ver", :src => "images/icons/16x16/application_get.png", :title => "Ver" }/
      %td
        %a{ :href => "/places/#{item.id.to_s}/edit" }
          %img{ :alt => "Editar", :src => "images/icons/16x16/application_edit.png", :title => "Editar" }/
      %td
        %a{ :href => "/places/#{item.id.to_s}", "data-confirm" => "Esta ud. seguro?", "data-method" => "delete", :rel => "nofollow" }
          %img{ :alt => "Eliminar", :src => "images/icons/16x16/application_delete.png", :title => "Eliminar" }/
%br/
= paginate @places

= link_to "Nuevo Lugar de Trabajo", new_place_path

.clear

%br/

.clear
