<h1>Listado de Lugares</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.detalle %></td>
    <td><%= link_to 'Visualizar', place %></td>
    <td><%= link_to 'Editar', edit_place_path(place) %></td>
    <td><%= link_to 'Borrar', place, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Lugar', new_place_path %>
