!!!
%html
  %head
    %title= ['AP Manager', yield(:title)].compact.join(' :: ')
    = stylesheet_link_tag 'jquery.tipsy', :media => 'screen'
    = stylesheet_link_tag 'apslabs', :media => 'screen'
    /[if IE]
      = stylesheet_link_tag 'apslabs-ie', :media => 'screen'
    = stylesheet_link_tag 'uniform.aristo', :media => 'screen'
    = stylesheet_link_tag 'application', :media => 'screen'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .main
      .sidebar
    #box
      .block
        %h2= yield(:title) if content_for?(:title)
        .content.login
          .flash
            - flash.each do |type, message|
              .message{:class => type.to_s}
                %p= message 
          = yield


 