!!!
%html
  %head
    %title APSSueldos
    = stylesheet_link_tag 'aplication','jquery-ui'
    %link{:href => "http://static.flowplayer.org/tools/css/tabs.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "jdpicker.css"
    :css
      /* tab pane styling */
      .panes div {
          display:none;
          padding:15px 10px;
          border:1px solid #999;
          border-top:0;
          height:100px;
          font-size:14px;
          background-color:#fff;
      }
    = javascript_include_tag :defaults
    = javascript_include_tag :cocoon
    = javascript_include_tag('jquery.tools.min.js')
    = javascript_include_tag('ui.spinner.js')
    = javascript_include_tag('jquery.ui.datepicker-es')
    = csrf_meta_tag
    = yield(:head)
  %body
    .main
      .sidebar
        = render('shared/main_menu')  
      .content
        %h1
          Companía:
          = current_company.name
        = yield
