!!!
%html{:style => "background-color: #00264d"}
  %head
    %title Apolo Login
    /= stylesheet_link_tag 'jquery.tipsy', :media => 'screen'
    = stylesheet_link_tag 'apslabs', :media => 'screen'
    /[if IE]
      = stylesheet_link_tag 'apslabs-ie', :media => 'screen'
    = stylesheet_link_tag 'bootstrap', :media => 'screen'
    = stylesheet_link_tag 'application', :media => 'screen'
    = csrf_meta_tag
    = yield(:head)
  %body{:style => "background-color: #00264d"}
    .main
      .sidebar
    #box
      .block
        %h2= yield(:title) if content_for?(:title)
        .content.login
          .flash
            - flash.each do |type, message|
              .message{:class => type.to_s}
                %p= message
          = yield
